@import (reference) "~src/less/utilities";

.AnnouncementBubbleView--intro {
  .margin--bottom--xl;
}

.AnnouncementBubbleView--beta {
  .text--italic();
}

.AnnouncementBubbleView--bubble {
  .margin--bottom--l();
}

.AnnouncementBubbleView--configContainer {
  .border--top--l(@neutral_silver);
  .margin--top--xl;
  .padding--top--l;
}

.AnnouncementBubbleView--config {
  .flexbox;
  .items--center;
  .margin--bottom--m;
  .text--caps;
  .text--small;

  &:not(:last-child) {
    .margin--right--m;
  }
}

label.AnnouncementBubbleView--config {
  cursor: pointer;
}

.AnnouncementBubbleView--configOptions {
  .margin--left--2xs;
  display: inline-block;
}

.AnnouncementBubbleView--configToggle {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

.AnnouncementBubbleView--props {
  .margin--top--l;
}
