@import (reference) "~less/utilities";

.callout--box {
  .padding--l;
  border: @size_3xs solid @primary_blue;
  background-color: @neutral_off_white;
  height: 3rem;

  &:hover {
    .shade(border-color, @primary_blue, 2);
  }
}

.color--block {
  .display--block;
  .margin--right--m;
  .padding--top--5xl;
  .padding--bottom--s;
  .padding--x--m;
  width: 100%;

  h4 {
    .margin--none;
  }
}

.large--color--block {
  .margin--right--none;
  color: @neutral_white;
}

.step--color--block {
  .margin--right--none;
  .borderRadius--topRight--0;
  color: @neutral_white;
}

.text--vertical {
  transform: rotate(-0.25turn);
  transform-origin: 70% 210%;
  width: 4rem;
}

// Primary colors:
.bg--primary_blue {
  background-color: @primary_blue;
}

.bg--primary_blue--tint-1 {
  background-color: @primary_blue_tint_1;
}

.bg--primary_blue--tint-2 {
  background-color: @primary_blue_tint_2;
}

.bg--primary_blue--shade-1 {
  background-color: @primary_blue_shade_1;
}

.bg--primary_blue--shade-2 {
  background-color: @primary_blue_shade_2;
}

// Neutral colors:
.bg--neutral_black {
  background-color: @neutral_black;
  color: @neutral_white;
}

.bg--neutral_dark_gray {
  background-color: @neutral_dark_gray;
  color: @neutral_white;
}

.bg--neutral_gray {
  background-color: @neutral_gray;
  color: @neutral_white;
}

.bg--neutral_silver {
  background-color: @neutral_silver;
  color: @neutral_black;
}

.bg--neutral_off_white {
  background-color: @neutral_off_white;
  color: @neutral_black;
}

.bg--neutral_white {
  background-color: @neutral_white;
  color: @neutral_black;
}

// Alert colors:
.bg--alert_green {
  background-color: @alert_green;
}

.bg--alert_green--tint-1 {
  background-color: @alert_green_tint_1;
}

.bg--alert_green--tint-2 {
  background-color: @alert_green_tint_2;
}

.bg--alert_green--shade-1 {
  background-color: @alert_green_shade_1;
}

.bg--alert_green--shade-2 {
  background-color: @alert_green_shade_2;
}

.bg--alert_orange {
  background-color: @alert_orange;
  color: @neutral_white;
}

.bg--alert_orange--tint-1 {
  background-color: @alert_orange_tint_1;
}

.bg--alert_orange--tint-2 {
  background-color: @alert_orange_tint_2;
}

.bg--alert_orange--shade-1 {
  background-color: @alert_orange_shade_1;
}

.bg--alert_orange--shade-2 {
  background-color: @alert_orange_shade_2;
}

.bg--alert_red {
  background-color: @alert_red;
  color: @neutral_white;
}

.bg--alert_red--tint-1 {
  background-color: @alert_red_tint_1;
}

.bg--alert_red--tint-2 {
  background-color: @alert_red_tint_2;
}

.bg--alert_red--shade-1 {
  background-color: @alert_red_shade_1;
}

.bg--alert_red--shade-2 {
  background-color: @alert_red_shade_2;
}

// Secondary colors:
.bg--accent_teal {
  background-color: @accent_teal;
  color: @neutral_white;
}

.bg--accent_teal--tint-1 {
  background-color: @accent_teal_tint_1;
}

.bg--accent_teal--tint-2 {
  background-color: @accent_teal_tint_2;
}

.bg--accent_teal--shade-1 {
  background-color: @accent_teal_shade_1;
}

.bg--accent_teal--shade-2 {
  background-color: @accent_teal_shade_2;
}

.bg--accent_pink {
  background-color: @accent_pink;
  color: @neutral_white;
}

.bg--accent_pink--tint-1 {
  background-color: @accent_pink_tint_1;
}

.bg--accent_pink--tint-2 {
  background-color: @accent_pink_tint_2;
}

.bg--accent_pink--shade-1 {
  background-color: @accent_pink_shade_1;
}

.bg--accent_pink--shade-2 {
  background-color: @accent_pink_shade_2;
}

.bg--accent_purple {
  background-color: @accent_purple;
  color: @neutral_white;
}

.bg--accent_purple--tint-1 {
  background-color: @accent_purple_tint_1;
}

.bg--accent_purple--tint-2 {
  background-color: @accent_purple_tint_2;
}

.bg--accent_purple--shade-1 {
  background-color: @accent_purple_shade_1;
}

.bg--accent_purple--shade-2 {
  background-color: @accent_purple_shade_2;
}
