@import (reference) "~src/less/utilities";

.ComponentBox--ComponentContainer {
  .padding--y--l;
  border-bottom: @size_3xs @primary_blue_tint_2 solid;
}

.ComponentBox--ComponentImg {
  // display: block;
  max-width: 30rem;
  max-height: 20rem;
  width: auto;
  height: auto;
}
