@import (reference) "~src/less/utilities";

.ComponentBox--ComponentContainer {
  .padding--bottom--l;
}

.ComponentBox--ComponentImg {
  // display: block;
  max-width: 30rem;
  max-height: 20rem;
  width: auto;
  height: auto;
}