@import (reference) "~less/index";

.CopyableInputView--config {
  .text--small;
  cursor: pointer;
  display: inline-block;
  margin: @size_xs;
  margin-left: 0;
  text-transform: uppercase;
}

.CopyableInputView--configOptions {
  .margin--left--2xs();
  display: inline-block;
}
