@import (reference) "~less/index";

.FileInputView--icon-only {
  height: @size_3xl;
  width: @size_3xl;
}

.FileInputView--config {
  .margin--xs();
  .margin--left--none();
  .text--caps();
  .text--small();
  cursor: pointer;
  display: inline-block;
}

.FileInputView--configOptions {
  .margin--left--2xs();
  display: inline-block;
}
