@import (reference) "~less/index";


.GridView {
  div {
    box-sizing: border-box;
  }

  .shaded {
    background-color: fadeout(@neutral_gray, 90%);
  }

  .outlined {
    .border--s(@neutral_silver);
    .shade(border-color, @neutral_silver, 0.3);
  }

  .Grid {
    .shaded;
    padding: 1rem;

    &:not(:last-child) {
      .margin--bottom--l;
    }

    &.resizable {
      resize: vertical;
      overflow: hidden;
    }
  }

  code.gridContent {
    .alignItems(center);
    .flex--grow;
    .flexbox;
    .justifyContent(center);
    .outlined;
    .tint(color, @accent_purple, 2);
    .text--medium;
    background-color: @neutral_silver;
    font-size: 0.875rem;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
  }
}
