@import (reference) "~src/less/utilities";

.MessagingInputView--intro {
  .margin--bottom--xl;
}

.MessagingInputView--beta {
  .text--italic();
}

.MessagingInputView--configContainer {
  .border--top--l(@neutral_silver);
  .margin--top--xl;
  .padding--top--l;
}

.MessagingInputView--config {
  .text--small;
  cursor: pointer;
  display: inline-block;
  .margin--y--m();
  text-transform: uppercase;
}

label.MessagingInputView--config {
  cursor: pointer;
  .padding--right--l;
}

.MessagingInputView--configOptions {
  .margin--left--2xs;
  display: inline-block;
}

.MessagingInputView--configToggle {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

.MessagingInputView--props {
  .margin--top--l;
}

.MessagingInputView--reply {
  .padding--left--2xl();
  .padding--right--2xl();
  .padding--top--s();
  .padding--bottom--s();
  .boxShadow--light();
  max-width: none !important;
  max-height: none !important;
  font-size: 1rem;
}
