@import (reference) "~src/less/utilities";

.MessagingAttachmentView--intro {
  .margin--bottom--xl;
}

.MessagingAttachmentView--configContainer {
  .border--top--l(@neutral_silver);
  .margin--top--xl;
  .padding--top--l;
}

.MessagingAttachmentView--config {
  .flexbox;
  .items--center;
  .margin--bottom--m;
  .text--caps;
  .text--small;

  &:not(:last-child) {
    .margin--right--m;
  }
}

.MessagingAttachmentView--configLabelText {
  .text--caps;
  .text--small;
}

label.MessagingAttachmentView--config {
  cursor: pointer;
}

.MessagingAttachmentView--configOptions {
  .margin--left--2xs;
  display: inline-block;
}

.MessagingAttachmentView--configToggle {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

.MessagingAttachmentView--props {
  .margin--top--l;
}

.MessagingAttachmentView-demoRow {
  flex-wrap: wrap;
}

.MessagingAttachmentView-demoRow .MessagingAttachment--ParentContainer {
  margin: @size_xs;
}
