@import (reference) "~less/index";

.ProgressBarView {
  .ProgressBar--left,
  .ProgressBar--right {
    &:not(:last-child) {
      margin-bottom: @size_m;
    }
  }

  .ProgressBar--up,
  .ProgressBar--down {
    display: inline-block;

    &:not(:last-child) {
      margin-right: @size_m;
    }
  }
}

.ProgressBarView--configContainer {
  .border--top--l(@neutral_silver);
  .margin--top--xl;
  .padding--top--l;
}

.ProgressBarView--intro {
  .margin--bottom--xl;
}

.ProgressBarView--config {
  .flexbox;
  .items--center;
  .margin--bottom--m;
  .text--caps;
  .text--small;

  &:not(:last-child) {
    .margin--right--m;
  }
}

.ProgressBarView--configOptions {
  .margin--left--2xs;
  display: inline-block;
}

.ProgressBarView--dropdown--color {
  width: 12rem;
}

.ProgressBarView--dropdown--showLabel {
  width: 12rem;
}
