@import (reference) "~less/utilities";

.Size--unit {
  .margin--m;
}

.Size--xs {
  width: @size_xs;
  height: @size_xs;
  background-color: @neutral_dark_gray;
}

.Size--2xs {
  width: @size_2xs;
  height: @size_2xs;
  background-color: @neutral_dark_gray;
}

.Size--3xs {
  width: @size_3xs;
  height: @size_3xs;
  background-color: @neutral_dark_gray;
}

.Size--s {
  width: @size_s;
  height: @size_s;
  background-color: @neutral_dark_gray;
}

.Size--m {
  width: @size_m;
  height: @size_m;
  background-color: @neutral_dark_gray;
}

.Size--l {
  width: @size_l;
  height: @size_l;
  background-color: @neutral_dark_gray;
}

.Size--xl {
  width: @size_xl;
  height: @size_xl;
  background-color: @neutral_dark_gray;
}

.Size--2xl {
  width: @size_2xl;
  height: @size_2xl;
  background-color: @neutral_dark_gray;
}

.Size--3xl {
  width: @size_3xl;
  height: @size_3xl;
  background-color: @neutral_dark_gray;
}

.Size--4xl {
  width: @size_4xl;
  height: @size_4xl;
  background-color: @neutral_dark_gray;
}

.Size--5xl {
  width: @size_5xl;
  height: @size_5xl;
  background-color: @neutral_dark_gray;
}
