@import (reference) "~less/index";

.TextAreaView--inputContainer {
  max-width: 25rem;
  min-width: 15rem;
}

.TextAreaView--config {
  .text--small;
  cursor: pointer;
  display: inline-block;
  margin: @size_xs;
  margin-left: 0;
  text-transform: uppercase;
}
