@import (reference) "~less/index";

.TextAreaView--inputContainer {
  max-width: 25rem;
  min-width: 15rem;
}

.TextAreaView--configContainer {
  display: inline-block;
  .margin--right--xl;
  .margin--top--l;
}

.TextAreaView--config {
  .border--top--l(@neutral_silver);
  .margin--top--l;
  .margin--right--xl;
  cursor: pointer;
  display: block;

  &:not(:last-child) {
    .margin--bottom--s;
  }
}
