@import (reference) "../less/index.less";

.goals--MultiplePanelModals {
  .border--s(@neutral_silver);
  .borderRadius--m;
  .padding--m;
  background-color: @neutral_off_white;
}

.goals--MultiplePanelModals--subElement {
  .border--s(@neutral_silver);
  .padding--s;
  background-color: @neutral_white;
  text-align: right;
}
