@import (reference) "~less/index";


.SideBar--NavGroup--title {
  .text--medium;
  .text--semi-bold;
  color: @neutral_black;
  margin: 0;
  padding: @size_s @size_l;
}

.SideBar--NavGroup--subNav {
  .SideBar--NavLink {
    .text--small;
    padding-left: @size_2xl;
  }
}
