@import (reference) "~clever-components/dist/less/index";

.MessageBubble--Message--Own {
  .padding--xs();
  max-width: 25rem;
  border-radius: 0.3125rem;
  color: #FFFFFF;
  background-color: @neutral_dark_gray;
  .text--line-height-4();
  white-space: pre-wrap;
}

.MessageBubble--Message--Other {
  .padding--xs();
  max-width: 25rem;
  border-radius: 0.3125rem;
  color: @neutral_black;
  background-color: #F3F5FD;
  .text--line-height-4();
  white-space: pre-wrap;
}
