{
  "presets": [
    [
      "@babel/preset-react"
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": {
          "version": "2.4",
          "proposals": true
        }
      }
    ]
  ],
  "plugins": [
    "./transform-code-string",
    "@babel/plugin-proposal-class-properties"
  ]
}
