{
  "rules": {
    "block-no-empty": null,
    "block-opening-brace-space-before": "always",
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "declaration-property-value-whitelist": [{
      "/color/": ["/@neutral_white/", "/@neutral_off_white/", "/@neutral_silver/", "/@neutral_gray/", "/@neutral_dark_gray/", "/@neutral_black/", "/@primary_blue/", "/@alert_red/", "/@alert_orange/", "/@accent_aqua/", "/@accent_purple/", "/@accent_aqua/", "/@accent_pink/", "transparent" ]
    }],
    "max-empty-lines": 2,
    "max-nesting-depth": [ 2, {
      ignoreAtRules: [ "media" ],
    }],
    "no-duplicate-selectors": true,
    "selector-no-id": true,
    "value-list-comma-newline-after": "never-multi-line",
    "unit-whitelist": ["em", "rem", "%", "s"],
  }
}
