{
  "rules": {
    "block-no-empty": null,
    "block-opening-brace-space-before": "always",
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always-single-line",
    "declaration-empty-line-before": "never",
    "declaration-property-value-whitelist": [{
      "/color/": ["/@neutral_white/", "/@neutral_off_white/", "/@neutral_silver/", "/@neutral_gray/", "/@neutral_dark_gray/", "/@neutral_black/", "/@primary_blue/", "/@alert_green/", "/@alert_red/", "/@alert_orange/", "/@accent_aqua/", "/@accent_purple/", "/@accent_aqua/", "/@accent_pink/", "transparent" ]
    }],
    "max-empty-lines": 2,
    "max-line-length": 100,
    "max-nesting-depth": [ 2, {
      ignoreAtRules: [ "media" ],
    }],
    "no-descending-specificity": true,
    "no-duplicate-selectors": true,
    "rule-nested-empty-line-before": ["always", {except: ["first-nested"]}],
    "selector-no-id": true,
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-newline-after": "always-multi-line",
    "unit-whitelist": ["em", "rem", "%", "s", "vh", "ms"],
  }
}
