@import (reference) "../less/utilities";

.Select2--container {
  font-family: "Proxima Nova";
  .text--medium();
  position: relative;
}

.Select2--infoRow {
  .flexbox();
  .justify--between();
  .padding--bottom--2xs();
  color: @neutral_medium_gray;
  .text--small();

  &--labelHidden {
    .justify--end();
  }
}

.Select2--label {
  color: @neutral_medium_gray;
  .text--small();

  /*
    for a11y purposes
    https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/#
  */
  &--hidden {
    /* stylelint-disable */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
    /* stylelint-enable */
  }
}

.Select2--infoRequirement {
  .text--italic();
}

.Select2--selectContainer {
  .text--medium();
  width: 100%;
  .flexbox();
  .border--m(@neutral_silver);
  .borderRadius--l();
  background-color: @neutral_white;
  .padding--x--s();
  box-sizing: border-box;
  transition: box-shadow @timingQuickly ease-out;

  &--focused {
    box-shadow: 0 0 0 @size_2xs ~"@{primary_blue_tint_2}80";

    .border--m(@primary_blue);
  }

  &--error {
    .border--m(@alert_red);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &:hover {
    .border--m(@primary_blue);
  }

  &--error:hover {
    .border--m(@alert_red);
  }

  &--disabled {
    .border--m(@neutral_silver);
  }

  &--disabled:hover {
    .border--m(@neutral_silver);
  }
}

.Select2--selectContainer--focused.Select2--selectContainer--error {
  box-shadow: 0 0 0 @size_2xs ~"@{alert_red_tint_2}80";
}

.Select2--input {
  border: none;
  outline: none;
  .borderRadius--l();
  width: 100%;
  font-family: "Proxima Nova";
  .text--medium();
  line-height: @size_l;

  &::placeholder {
    color: @neutral_gray;
  }

  &::-webkit-input-placeholder {
    color: @neutral_gray;
  }

  &::-moz-placeholder {
    color: @neutral_gray;
  }

  &:-ms-input-placeholder {
    color: @neutral_gray;
  }

  &:disabled {
    background-color: @neutral_white;
  }
}

.Select2--button--reset {
  border: none;
  .margin--none();
  .padding--none();
  font-family: "Proxima Nova";
  .text--medium();
}

.Select2--trailingElement {
  .margin--left--xs();
  min-height: @size_2xl;
}

.Select2--errorIcon {
  color: @alert_red;
  .flexbox();
  .items--center();
}

.Select2--clearButton {
  background-color: @neutral_white;
  min-height: unset;
  width: 1.25rem;
  height: 1.25rem;
  .borderRadius--l();

  &:focus {
    outline: 0.1875rem solid @primary_blue_shade_2;
  }
}

.Select2--caretButton {
  background-color: @neutral_white;
}

.Select2--options {
  &--reset {
    outline: none;
    list-style: none;
    overflow-y: scroll;
    .margin--none();
    .padding--none();
    position: absolute;
    box-sizing: border-box;
    z-index: 3;
  }

  &--open {
    max-height: @size_5xl * 5;
    width: 100%;
    .margin--top--xs();
    background-color: @neutral_white;
    .boxShadow--light();
    .padding--xs();
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.Select2--option {
  cursor: pointer;
  color: @neutral_dark_gray;
  .borderRadius--l();
  .padding--xs();

  &--highlighted {
    background-color: ~"@{primary_blue_tint_2}80";
  }
}

.Select2--notFound {
  color: @neutral_gray;
  text-align: center;
  cursor: default;
}
