@import (reference) "../less/utilities";
@import (reference) "../less/index";


.InfoPanel {
  .borderRadius--m;
  .border--s(@neutral_silver);
  background-color: @neutral_white;

  .InfoPanelColumn {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;

    &:nth-child(even) {
      padding-left: @size_m;
    }

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: @size_m;
    }
  }
}

.InfoPanel--collapsible {
}

.InfoPanel--content {
  background-color: @neutral_white;
  padding: @size_s @size_m;
}

.InfoPanel--footer {
  .border--top--s(@neutral_silver);
  padding: @size_s @size_m;
}

.InfoPanel--headerOpen {
  background-color: @neutral_off_white;
  .border--bottom--s(@neutral_silver);
  padding: @size_s @size_m;
  .text--regular;
  color: @neutral_dark_gray;
  font-family: "Proxima Nova";
  margin: 0;
  padding: @size_s @size_m;
  display: block;
}

.InfoPanel--headerClosed {
  background-color: @neutral_off_white;
  padding: @size_s @size_m;
  .text--regular;
  color: @neutral_dark_gray;
  font-family: "Proxima Nova";
  margin: 0;
  padding: @size_s @size_m;
  display: block;
}

.InfoPanel--title {
  display: inline-block;
}

.InfoPanel--collapseArrow {
  width: @size_s;
  display: inline-block;
}
