@import (reference) "~clever-components/dist/less/index";

.TabbedTable--TabBar {
  .margin--bottom--m;
}

.TabbedTable--Title {
  display: inline-block;
  border-right: @size_4xs solid @neutral_gray;
  color: @neutral_black;
  padding: @size_2xs @size_m;
  .margin--right--m;
  .text--large;
  .text--semi-bold;
}

.TabbedTable--Tabs {
  font-size: @size_s;
  color: @neutral_dark_gray;
}

.TabbedTable--TabName {
  .margin--left--s;
  color: @neutral_dark_gray;
}

.TabbedTable--TabName:hover {
  cursor: pointer;
}

.TabbedTable--SelectedTabName {
  color: @primary_blue;
  .text--semi-bold;
}
