@import (reference) "../../../src/less/index";
@import (reference) "../../../src/LeftNav/sizing";


.SideBarToggle {
  .button--reset;
  .text--large;
  background: @neutral_off_white;
  border: 0;
  opacity: .8;
  color: @primary_blue;
  height: 100%;
  text-align: center;
  width: @paneWidthCollapsed;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}
