@import (reference) "~less/index";


.SideBar {
  background-color: @neutral_off_white;
  box-shadow: inset -@size_xs 0 @size_xs -@size_xs fadeout(@neutral_black, 85%);
  min-width: 12rem;
  padding: @size_m 0;
}
