@import (reference) "../less/index";
@import "~react-datepicker/dist/react-datepicker.min.css";

.DatePicker {
  background-color: @neutral_off_white;
  position: absolute;
  margin-top: @size_2xs;
  .border--s(@neutral_silver);
  z-index: @zIndex2;
}

.DatePicker--header {
  padding: @size_xs;
  .border--bottom--s(@neutral_silver);
  color: @neutral_dark_gray;
}

.DatePicker--title {
  font-size: @type_small;
  font-weight: bold;
}

.DatePicker--close {
  cursor: pointer;
  .text--small;
}

.DatePicker--date-input {
  padding: 0 @size_xs;

  .react-datepicker {
    border: none;
    background: none;
    font-family: inherit;
  }

  .react-datepicker__current-month {
    color: @neutral_black;
  }

  .react-datepicker__navigation--previous {
    border-right-color: @neutral_black;

    &:hover {
      border-right-color: @neutral_black;
    }
  }

  .react-datepicker__navigation--next {
    border-left-color: @neutral_black;

    &:hover {
      border-left-color: @neutral_black;
    }
  }

  .react-datepicker__header {
    background: none;
    border: none;
  }

  .react-datepicker__day--today {
    font-weight: normal;
  }

  .react-datepicker__day:hover {
    border-radius: 50%;
    .shade(background-color, @neutral_off_white, 1);
  }

  .react-datepicker__day--selected {
    border-radius: 50%;
    background-color: @primary_blue;

    &:hover {
      background-color: @primary_blue;
    }
  }

  .react-datepicker__day--outside-month {
    color: @neutral_gray;
  }

  .react-datepicker__day--disabled {
    color: @neutral_silver;
  }
}
