.Modal {
  position: fixed;
  z-index: 200;
}

.Modal--background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.Modal--window {
  left: 50%;
  margin-top: 60px;
  position: fixed;
  background: #fff;
  border: 6px solid #3b4349;
  border-radius: 4px;
}

.Modal--window--container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 35px 45px;
  box-sizing: border-box;
}
