@import (reference) "../less/index.less";

.LeftNav {
  color: @neutral_black;
  background: @neutral_silver;
  user-select: none;
  // To support absolute positioning of the door in DrawerNavGroup
  position: relative;
}
