@import (reference) "../less/index.less";

.NavGroup {
  cursor: default;
  .NavGroup--label {
    .padding--x--l;
    .padding--top--m;
    .padding--bottom--s;
    .text--semi-bold;
  }
  .NavLink {
    padding-left: @size_l + @size_m;
    .padding--y--s;
    .text--medium;
    .text--regular;
  }
  .NavGroup--icon {
    width: @size_m;
    .padding--right--xs;
  }
}
