@import (reference) "../less/index.less";

.NavGroup {
  cursor: default;
  .NavGroup--label {
    .padding--x--l;
    .padding--top--m;
    .padding--bottom--s;
    .text--semi-bold;
  }
}

.NavGroup--open {
  background: @neutral_dark_gray;
  color: @neutral_white;
  .NavLink:hover {
    background: @neutral_dark_gray;
    color: @neutral_white;
  }
}
