@import (reference) "../less/index.less";

.NavLink {
  .padding--x--l;
  .padding--y--m;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  &:hover {
    color: @neutral_black;
    background: @neutral_gray;
  }

  .NavLink--icon {
    width: @size_m;
    .padding--right--xs;
  }
}
