@import (reference) "~src/less/utilities";

.DeleteMessageModal--modal h1 {
  .text--semi-bold();
}

.DeleteMessageModal--text {
  .text--line-height-4();
}

.Button.DeleteMessageModal--button {
  width: 6rem;
  height: 2.75rem;
  text-align: center;
  .text--bold();
}
