@import (reference) "../less/colors";
@import (reference) "../less/border";

.CopyableInput {
  .border--s(@neutral_silver);
  display: flex;
  background: @neutral_white;
  width: 100%;

  .TextInput {
    border: none;
    flex: 1 0;
  }
}

.CopyableInput--links {
  margin: auto 7px;
  white-space: nowrap;
  background: white;

  .CopyableInput--link {
    border: 0;
    background: none;
    color: #4274F6;
    font-size: 12px;
    border-right: 1px solid #dddddd;

    &:last-child {
      border: 0;
    }
  }

  .CopyableInput--link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .CopyableInput--link:focus {
    outline: none;
    text-decoration: underline;
  }
}
