@import (reference) "../less/colors";
@import (reference) "../less/border";
@import (reference) "../less/sizing";
@import (reference) "../less/flex";
@import (reference) "../less/type-size";

.CopyableInput {
  .border--s(@neutral_silver);
  .flexbox();
  background: @neutral_white;
  width: 100%;
  position: relative;

  .TextInput {
    border: none;
    .flexShrink(1);
  }
}

.CopyableInput--links {
  margin: auto @size_xs;
  white-space: nowrap;
  background: white;
  .flexShrink(0);
  position: absolute;
  right: 0;
  top: 40%;

  .CopyableInput--link {
    border: 0;
    background: none;
    color: @primary_blue;
    font-size: @type_small;
    padding: @size_4xs @size_xs @size_3xs;
    .border--right--s(@neutral_silver);
    .shade(border-right-color, @neutral_silver, 1);

    &:last-child {
      border: 0;
    }
  }

  .CopyableInput--link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .CopyableInput--link:focus {
    outline: none;
    text-decoration: underline;
  }
}
