@import "../less/fonts.less";
@import (reference) "../less/index";

.ProgressBar {
  position: relative;
  font-family: "Proxima Nova";
  .border--m(@neutral_dark_gray);
  .borderRadius--m;
  .text--medium;
  background: @neutral_off_white;
}

.ProgressBar--up, .ProgressBar--down {
  width: 30px;
  height: 100%;
  .ProgressBar--filledIn {
    transition: height 0.25s ease-out;
    width: 100%;
    left: 0;
  }
}

.ProgressBar--up {
  .ProgressBar--filledIn {
    bottom: 0;
  }
}

.ProgressBar--down  {
  .ProgressBar--filledIn {
    top: 0;
  }
}

.ProgressBar--right, .ProgressBar--left {
  height: 30px;
  .ProgressBar--filledIn {
    transition: width 0.25s ease-out;
    height: 100%;
    top: 0;
  }
}

.ProgressBar--right {
  .ProgressBar--filledIn {
    left: 0;
  }
}

.ProgressBar--left {
  .ProgressBar--filledIn {
    right: 0;
  }
}

.ProgressBar--filledIn {
  position: absolute;
  background: @primary_blue;
}
