/* stylelint-disable unit-whitelist */
@import (reference) "../less/index";

.ProgressBar--boxContainer--thin {
  min-width: 80px;
}

.ProgressBar--boxContainer--medium {
  min-width: 120px;
}

.ProgressBar--boxContainer--thick {
  min-width: 160px;
}

.ProgressBar--bar--container {
  .margin--bottom--2xs;
  box-sizing: content-box;
  position: relative;
  transition: none;
  background-color: transparent;
}

.ProgressBar--bar--container--thin {
  min-width: 80px;
}

.ProgressBar--bar--container--medium {
  min-width: 120px;
}

.ProgressBar--bar--container--thick {
  min-width: 160px;
}

.ProgressBar--bar--border {
  .borderRadius--xl();
  height: 100%;
  width: 100%;
  background-color: @neutral_off_white;
  position: absolute;
}

.ProgressBar--bar--border--thick {
  .border--l(@neutral_silver);
}

.ProgressBar--bar--border--medium {
  .border--m(@neutral_silver);
}

.ProgressBar--bar--border--thin {
  .border--s(@neutral_silver);
}

.ProgressBar--bar--inactive {
  opacity: 0.5;
}

.ProgressBar--label--top-left,
.ProgressBar--label--bottom-left {
  .margin--left--xs;
  .alignSelf(flex-start);
}

.ProgressBar--label--top-middle,
.ProgressBar--label--bottom-middle {
  .alignSelf(center);
}

.ProgressBar--label--top-right,
.ProgressBar--label--bottom-right {
  .alignSelf(flex-end);
}
