@import (reference) "../less/index.less";

.Table--header--cell {
  .cardHeader();
  border-bottom: @size_4xs solid @neutral_silver;
}

.Table--header--cell--sortable {
  cursor: pointer;

  &:active,
  &:hover {
    .Table--header--cell--sort_icons {
      fill: lighten(@neutral_dark_gray, 20%);
    }
  }
}

.Table--header--cell--content {
  align-items: center;
  display: flex;
}

.Table--header--cell--label {
  display: inline-block;
  vertical-align: middle;
}

.Table--header--cell--sort_icons {
  fill: darken(@neutral_silver, 5%);
  margin-left: 0.3125rem;
  transition: fill 0.25s ease-out;
  vertical-align: middle;

  .Table--sort_icons--direction--active {
    fill: @neutral_black;
  }
}

.Table--header--cell--tooltip {
  margin-left: 0.625rem;
  cursor: pointer;
}
