@import (reference) "../less/utilities.less";

.Table2Beta--selectedRowsHeader {
  height: 3rem;
  border: @size_4xs solid @neutral_silver;
  border-collapse: collapse;
  .cardHeader();
}

.Table2Beta--selectedRowsHeader--titleCell {
  padding: 0.75rem;
}

.Table2Beta--selectedRowsHeader--actionsCell {
  padding: 0.75rem;
}
