@import (reference) "../less/utilities.less";

.Table2Beta--selectedRowsHeader {
  height: 1.5rem;
  line-height: 1.5rem;
  .border--s(@neutral_silver);
  .borderRadius--top--l;
  border-collapse: collapse;
  .padding--x--m;
  .padding--y--m;
  .text--medium;
  .text--semi-bold;
  background-color: @neutral_off_white;
  color: @neutral_dark_gray;
  font-family: "Proxima Nova";
}

.Table2Beta--selectedRowsHeader--actionsFlexbox {
  flex-wrap: wrap;
  margin-top: -1rem;
  // in the future, replace wth row-gap and column-gap, currently not supported in Safari
  // row-gap: 1rem;
  // column-gap: 1.5rem;
}

.Table2Beta--selectedRowsHeader--action {
  margin: 0.5rem 0.5rem 0 0;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.Table2Beta--selectedRowsHeader--action:last-of-type {
  margin-right: 0;
}

.Table2Beta--selectedRowsHeader--action:hover {
  background-color: #f6f7fe;
}
