@import (reference) "~src/less/utilities";

.GoalsLogoView--intro {
  .margin--bottom--xl;
}

.GoalsLogoView--logoContainer {
  .borderRadius--m();
  .padding--x--l;
  .padding--y--xs;
  background-color: @primary_blue;
}

.GoalsLogoView--configContainer {
  .border--top--l(@neutral_silver);
  .margin--top--xl;
  .padding--top--l;
}

.GoalsLogoView--config {
  .flexbox;
  .items--center;
  .margin--bottom--m;
  .text--caps;
  .text--small;

  &:not(:last-child) {
    .margin--right--m;
  }
}

label.GoalsLogoView--config {
  cursor: pointer;
}

.GoalsLogoView--configOptions {
  .margin--left--2xs;
  display: inline-block;
}

.GoalsLogoView--configToggle {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

.GoalsLogoView--props {
  .margin--top--l;
}

