@import (reference) "~less/index";

.LabelView--label {
  .margin--left--s;
  display: inline-block;
}

.LabelView--example {
  .margin--none;
  .margin--bottom--s;
  .text--regular;
  color: @neutral_dark_gray;
  line-height: 3rem;
}

.LabelView--configContainer {
  .margin--top--m;
}

.LabelView--config {
  .text--caps;
  .text--small;

  &:not(:last-child) {
    .margin--bottom--s;
  }
}

.LabelView--configOptions {
  .margin--left--2xs;
  display: inline-block;
}

.TooltipView--focusControl {
  .margin--top--s;
  .text--small;
}

.LabelView--props {
  .margin--top--l;
}
