@import (reference) "~less/index";

.SelectView--input {
  .zIndex--1();
}

.SelectView--config {
  .text--small;
  cursor: pointer;
  display: inline-block;
  margin: @size_xs;
  margin-left: 0;
  text-transform: uppercase;
}

.SelectView--configOptions {
  .margin--left--2xs();
  display: inline-block;
}
