@import (reference) "~less/index";

.Table2BetaView--beta {
  .text--italic();
}

.Table2BetaView--config {
  .margin--y--s;
  .margin--left--none;
  .margin--right--l;
  .text--small;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
}

.Table2BetaView--configOptions {
  .margin--left--2xs;
  display: inline-block;
}

.Table2BetaView--status {
  transition: all @timingPromptly ease-out;
}

.Table2BetaView--status--red {
  background-color: @alert_red;
  color: @neutral_white;
}

.Table2BetaView--table {
  width: 1032px;
}

.Table2BetaView--mobileWidth {
  // This number is from a medium phone width
  width: 375px;
  overflow-x: auto;
}
