@import (reference) "~less/index";


.TableView--config {
  .margin--y--s;
  .margin--left--none;
  .margin--right--xs;
  .text--small;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
}
