@import (reference) "~less/index";

.TextAreaView--config {
  .margin--xs();
  .margin--left--none();
  .text--caps();
  .text--small();
  cursor: pointer;
  display: inline-block;
}

.TextAreaView--configOptions {
  .margin--left--2xs();
  display: inline-block;
}
