@import (reference) "~less/index";
@import "~less/display";

.View--header {
  .border--bottom--l(@neutral_silver);
  margin: 0 @size_xl;
  padding: @size_xl 0;
}

.View--title {
  .text--semi-bold;
  margin: 0;
}

.View--subtitle {
  .text--regular;
  color: @neutral_dark_gray;
  margin: @size_m 0 0;
}

.View--content {
  padding: @size_xl @size_xl @size_5xl;
}
