@import (reference) "../less/utilities";

.FloatingButton--container {
  position: fixed;
}

.FloatingButton--left {
  align-items: flex-start;
}

.FloatingButton--center {
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.FloatingButton--right {
  align-items: flex-end;
}

.FloatingButton--bottom {
  flex-direction: column-reverse;
}

.FloatingButton--top {
  flex-direction: column;
}

.FloatingButton--subElement {
  .margin--2xs();
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.FloatingButton--button {
  .boxShadow--heavy();
}

.FloatingButton--inactive--bottom {
  transform: translateY(2.5rem);
  opacity: 0;
}

.FloatingButton--inactive--top {
  transform: translateY(-2.5rem);
  opacity: 0;
}
