@import (reference) "../less/utilities";

.FloatingButton--container {
  position: fixed;
  .zIndex--4();
  pointer-events: none;
}

.FloatingButton--left {
  .items--start();
}

.FloatingButton--center {
  .items--center();
  left: 50%;
  transform: translate(-50%, 0);
}

.FloatingButton--right {
  .items--end();
}

.FloatingButton--bottom {
  .flex--direction--columnReverse();
}

.FloatingButton--top {
  .flex--direction--column();
}

.FloatingButton--subElement {
  .margin--2xs();
  pointer-events: auto;
}

.FloatingButton--animate {
  transition: opacity @timingPromptly @motionSmooth, transform @timingPromptly @motionSmooth;
}

.Button.FloatingButton--button {
  .boxShadow--heavy();
  border-radius: 500rem;
}

.FloatingButton--icon {
  .margin--right--xs();

  & > svg {
    vertical-align: top;
  }
}

.FloatingButton--inactive--bottom {
  transform: translateY(2.5rem); // used for animation
  opacity: 0;
  pointer-events: none;
}

.FloatingButton--inactive--top {
  transform: translateY(-2.5rem); // used for animation
  opacity: 0;
  pointer-events: none;
}

.Button.FloatingButton--green {
  background-color: @alert_green;
  border-color: @alert_green;
  color: @neutral_white;

  &:hover,
  &:focus,
  &:active {
    background-color: @alert_green_tint_hover;
    border-color: @alert_green_tint_hover;
  }
}

.Button.FloatingButton--gray {
  background-color: @neutral_dark_gray;
  border-color: @neutral_dark_gray;
  color: @neutral_white;

  &:hover,
  &:focus,
  &:active {
    background-color: @neutral_dark_gray;
    border-color: @neutral_dark_gray;
  }
}
