@import (reference) "../less/utilities";

.FloatingButton--container {
  position: fixed;
  .zIndex--9();
}

.FloatingButton--left {
  .items--start();
}

.FloatingButton--center {
  .items--center();
  left: 50%;
  transform: translate(-50%, 0);
}

.FloatingButton--right {
  .items--end();
}

.FloatingButton--bottom {
  .flex--direction--columnReverse();
}

.FloatingButton--top {
  .flex--direction--column();
}

.FloatingButton--subElement {
  .margin--2xs();
  transition: opacity @timingPromptly @motionSmooth, transform @timingPromptly @motionSmooth;
}

.FloatingButton--button {
  .boxShadow--heavy();
}

.FloatingButton--inactive--bottom {
  transform: translateY(2.5rem);
  opacity: 0;
}

.FloatingButton--inactive--top {
  transform: translateY(-2.5rem);
  opacity: 0;
}

.FloatingButton--remove {
  display: none;
}
