@import (reference) "../less/utilities";

.AlertBox2 {
  .borderRadius--m();
  .padding--m();
  .flexbox();
  .justify--between();

  &--critical {
    background-color: fade(@alert_red, 15%);
  }

  &--icon--critical {
    color: @alert_red;
  }

  &--caution {
    background-color: fade(@alert_orange, 15%);
  }

  &--icon--caution {
    color: @alert_orange;
  }

  &--success {
    background-color: fade(@alert_green, 15%);
  }

  &--icon--success {
    color: @alert_green;
  }

  &--info {
    background-color: fade(@accent_purple, 15%);
  }

  &--icon--info {
    color: @accent_purple;
  }

  &--support {
    background-color: #f3f5fd; /* stylelint-disable-line */
  }

  &--icon--support {
    width: 1.25rem; // 20px
    vertical-align: top;
  }
}

.AlertBox2--contentContainer {
  .flexbox();
  .items--baseline();
}

.AlertBox2--contentContainer--withButtons {
  line-height: @size_xl;
}

.AlertBox2--content {
  .text--semi-bold();
  color: @neutral_dark_gray;
  .margin--left--m();

  & p {
    .text--regular();
  }
}

.AlertBox2--buttons {
  .flexbox();
  .items--baseline();
}

.AlertBox2--closeButton {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  .text--medium();
  .margin--left--m();
  .text--line-height-4();

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: @borderRadiusM solid @accent_purple_shade_2;
  }
}
