@import (reference) "~less/index";


.Demo--CodeSample {
  margin: 0;
}

.Demo--CodeSample--content {
  max-width: 70rem;
  .border--s(@neutral_silver);
  .borderRadius--bottom--m;
  .text--monospace;
  .text--small;
  background-color: @neutral_off_white;
  border-top: 0;
  box-shadow: inset 0 @size_xs @size_xs -@size_xs fadeout(@neutral_black, 85%);
  box-sizing: border-box;
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: @size_xl;
}
