@import (reference) "./colors";
@import (reference) "./sizing";

// Opinionated defaults for box shadows

@boxShadowDefaultXOffset: 0;

@boxShadowYOffsetS: @size_4xs;
@boxShadowYOffsetM: 0.1875rem;
@boxShadowYOffsetL: 0.3125rem;

@boxShadowBlurRadiusS: 0.1875rem;
@boxShadowBlurRadiusM: 0.375rem;
@boxShadowBlurRadiusL: @size_s;

@boxShadowDefaultSpread: @size_4xs;

@boxShadowDefaultColor: rgba(71, 76, 94, 0.2);

// Convenience mixins

.boxShadow--light {
  box-shadow: @boxShadowDefaultXOffset @boxShadowYOffsetS @boxShadowBlurRadiusS @boxShadowDefaultSpread @boxShadowDefaultColor
}

.boxShadow--medium {
  box-shadow: @boxShadowDefaultXOffset @boxShadowYOffsetM @boxShadowBlurRadiusM @boxShadowDefaultSpread @boxShadowDefaultColor
}

.boxShadow--heavy {
  box-shadow: @boxShadowDefaultXOffset @boxShadowYOffsetL @boxShadowBlurRadiusL @boxShadowDefaultSpread @boxShadowDefaultColor
}

// DEPRECATED - remove once there are no usages of these
@boxShadowLightBlack: fade(@neutral_black, 40%);
@boxShadowMediumBlack: fade(@neutral_black, 50%);
@boxShadowHeavyBlack: fade(@neutral_black, 70%);

.boxShadow(@blurRadius, @color) {
  box-shadow: @boxShadowDefaultXOffset @boxShadowYOffsetM @blurRadius @color;
}
// DEPRECATED
