// Colors from clever/design-system.
// TODO(kofi): Been replicating these in the dashboards. Would be nice to expose them in a common
// place once they're a little more fleshed out.


// Primary colors:
@primary_blue: #4274f6;

// Neutral colors:
@neutral_black: #191926;
@neutral_dark_gray: #566279;
@neutral_gray: #b5bcca;
@neutral_silver: #e3e6eb;
@neutral_off_white: #fafafc;
@neutral_white: #fff;

// Alert colors:
@green: #01D59A;
@orange: #FCA53A;
@red: #EB3B49;

// Secondary colors:
@aqua: #33F7F1;
@pink: #E838BF;
@purple: #7E1DFF;
