// Keep this in sync with src/utils/Forms.ts

@formElementSizeSmall: 12rem;
@formElementSizeMedium: 20rem;
@formElementSizeLarge: 30rem;

.dewey--formElementSize--small {
  max-width: @formElementSizeSmall;
}

.dewey--formElementSize--medium {
  max-width: @formElementSizeMedium;
}

.dewey--formElementSize--large {
  max-width: @formElementSizeLarge;
}
