// Type Sizes from clever/design-system.
@import (reference) "./sizing.less";

// Type Size Variables
@type_tiny: 0.625rem;
@type_small: @size_s;
@type_small_medium: 0.875rem; // 14px
@type_medium: @size_m;
@type_medium_large: 1.125rem; // 18px
@type_large: @size_l;
@type_huge: @size_xl;
@type_gargantuan: @size_2xl;
@type_colossal: @size_5xl;

.text--tiny {
  font-size: @type_tiny;
}

.text--small {
  font-size: @type_small;
}

.text--smallMedium {
  font-size: @type_small_medium;
}

.text--medium {
  font-size: @type_medium;
}

.text--mediumLarge {
  font-size: @type_medium_large;
}

.text--large {
  font-size: @type_large;
}

.text--huge {
  font-size: @type_huge;
}

.text--gargantuan {
  font-size: @type_gargantuan;
}

.text--colossal {
  font-size: @type_colossal;
}
