
@import (reference) "./fonts.less";

/* Basscss Typography */

.font-family-inherit { font-family: inherit }

.font-size-inherit { font-size: inherit }

.text--decoration-none { text-decoration: none }

.text--semi-bold    {
   font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
}

.text--bold    {
   font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: bold;
   font-style: normal;
}

.text--regular { 
   font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: normal;
   font-style: normal;
}

.text--italic  {
   font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: normal;
   font-style: italic;
}

.text--heavy {
   font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
   font-weight: 900;
   font-style: normal;
}

.text--caps    {
	text-transform: uppercase;
	letter-spacing: .2em;
}

.text--left-align   { text-align: left }

.text--center       { text-align: center }

.text--right-align  { text-align: right }

.text--justify      { text-align: justify }

.text--nowrap { white-space: nowrap }

.text--break-word { word-wrap: break-word }

.text--line-height-1 { line-height: 1 }

.text--line-height-2 { line-height: 1.125 }

.text--line-height-3 { line-height: 1.25 }

.text--line-height-4 { line-height: 1.5 }

.text--list-style-none { list-style: none }

.text--underline { text-decoration: underline }

.text--truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}
