// Type Sizes from clever/design-system.

// Type Size Variables
@type_tiny: .625rem;
@type_small: .75rem;
@type_medium: 1rem;
@type_large: 1.5rem;
@type_huge: 2rem;
@type_gargantuan: 2.5rem;
@type_colossal: 4rem;

.type_tiny {
	font-size: @type_tiny;
}

.type_small {
	font-size: @type_small;
}

.type_medium {
	font-size: @type_medium;
}

.type_large {
	font-size: @type_large;
}

.type_huge {
	font-size: @type_huge;
}

.type_gargantuan {
	font-size: @type_gargantuan;
}

.type_colossal {
	font-size: @type_colossal;
}
