/* Z-Index variable scale to
/* confine the number of
/* z-index issues.
/*****************************/

.zIndex--0 {
	z-index: 0;
}

.zIndex--1 {
  z-index: 100;
}

.zIndex--2 {
  z-index: 200;
}

.zIndex--3 {
  z-index: 300;
}

.zIndex--4 {
  z-index: 400;
}

.zIndex--5 {
  z-index: 500;
}

.zIndex--6 {
  z-index: 600;
}

.zIndex--7 {
  z-index: 700;
}

.zIndex--8 {
  z-index: 800;
}

.zIndex--9 {
  z-index: 900;
}
