/* stylelint-disable unit-whitelist */
@import (reference) "../less/index";

.Icon {
  display: inline-block;
  vertical-align: middle;
}

.Icon--small {
  height: 24px;
  width: 24px;
}

.Icon--medium {
  height: 46px;
  width: 46px;
}

.Icon--large {
  height: 92px;
  width: 92px;
}
