@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/ProximaNova-Bold-webfont.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/ProximaNova-Light-webfont.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/ProximaNova-Reg-webfont.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/ProximaNova-Sbold-webfont.woff');
  font-weight: 600;
  font-style: normal;
}
.type_tiny {
  font-size: 0.625rem;
}
.type_small {
  font-size: 0.75rem;
}
.type_medium {
  font-size: 1rem;
}
.type_large {
  font-size: 1.5rem;
}
.type_huge {
  font-size: 2rem;
}
.type_gargantuan {
  font-size: 2.5rem;
}
.type_colossal {
  font-size: 4rem;
}
.flex {
  display: flex;
}
@media - "(min-width: 40em)" {
  .sm-flex {
    display: flex;
  }
}
@media - "(min-width: 52em)" {
  .md-flex {
    display: flex;
  }
}
@media - "(min-width: 64em)" {
  .lg-flex {
    display: flex;
  }
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-baseline {
  align-self: baseline;
}
.self-stretch {
  align-self: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-stretch {
  align-content: stretch;
}
/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */
}
.flex-none {
  flex: none;
}
.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-last {
  order: 99999;
}
.Grid--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.Row--container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
}
.Column {
  box-sizing: border-box;
  flex-shrink: 0;
}
/*******************************************************

  Generated columns

  Creates classes for a 12-column layout with classes of the form:
  `Column--lg-1`, `Column--lg-2`, ... `Column--lg-12`.

  There are three sizes (large, medium, and small) so an
  element can have different properties on different screens.

  Grid your loins!

 *******************************************************/
.Column--lg-1 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 8.33333333%;
}
.Column--lg-2 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 16.66666667%;
}
.Column--lg-3 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 25%;
}
.Column--lg-4 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 33.33333333%;
}
.Column--lg-5 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 41.66666667%;
}
.Column--lg-6 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 50%;
}
.Column--lg-7 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 58.33333333%;
}
.Column--lg-8 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 66.66666667%;
}
.Column--lg-9 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 75%;
}
.Column--lg-10 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 83.33333333%;
}
.Column--lg-11 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 91.66666667%;
}
.Column--lg-12 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
}
@media only screen and (max-width: 1040px) {
  .Column--lg-1 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 8.33333333%;
  }
  .Column--lg-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 16.66666667%;
  }
  .Column--lg-3 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 25%;
  }
  .Column--lg-4 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 33.33333333%;
  }
  .Column--lg-5 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 41.66666667%;
  }
  .Column--lg-6 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50%;
  }
  .Column--lg-7 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 58.33333333%;
  }
  .Column--lg-8 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 66.66666667%;
  }
  .Column--lg-9 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 75%;
  }
  .Column--lg-10 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 83.33333333%;
  }
  .Column--lg-11 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 91.66666667%;
  }
  .Column--lg-12 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 840px) {
  .Column--md-1 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 8.33333333%;
  }
  .Column--md-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 16.66666667%;
  }
  .Column--md-3 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 25%;
  }
  .Column--md-4 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 33.33333333%;
  }
  .Column--md-5 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 41.66666667%;
  }
  .Column--md-6 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50%;
  }
  .Column--md-7 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 58.33333333%;
  }
  .Column--md-8 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 66.66666667%;
  }
  .Column--md-9 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 75%;
  }
  .Column--md-10 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 83.33333333%;
  }
  .Column--md-11 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 91.66666667%;
  }
  .Column--md-12 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .Column--sm-1 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 8.33333333%;
  }
  .Column--sm-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 16.66666667%;
  }
  .Column--sm-3 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 25%;
  }
  .Column--sm-4 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 33.33333333%;
  }
  .Column--sm-5 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 41.66666667%;
  }
  .Column--sm-6 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50%;
  }
  .Column--sm-7 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 58.33333333%;
  }
  .Column--sm-8 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 66.66666667%;
  }
  .Column--sm-9 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 75%;
  }
  .Column--sm-10 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 83.33333333%;
  }
  .Column--sm-11 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 91.66666667%;
  }
  .Column--sm-12 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  .Column--sm-1 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 8.33333333%;
  }
  .Column--sm-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 16.66666667%;
  }
  .Column--sm-3 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 25%;
  }
  .Column--sm-4 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 33.33333333%;
  }
  .Column--sm-5 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 41.66666667%;
  }
  .Column--sm-6 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50%;
  }
  .Column--sm-7 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 58.33333333%;
  }
  .Column--sm-8 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 66.66666667%;
  }
  .Column--sm-9 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 75%;
  }
  .Column--sm-10 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 83.33333333%;
  }
  .Column--sm-11 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 91.66666667%;
  }
  .Column--sm-12 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
  }
}
a.Button,
button.Button {
  background: #ffffff;
  border: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Proxima Nova";
  font-weight: 600;
  transition: background-color 0.25s ease-out, border-color 0.25s ease-out, color 0.25s ease-out;
}
a.Button[disabled],
button.Button[disabled],
a.Button[disabled]:hover,
button.Button[disabled]:hover,
a.Button[disabled]:focus a.Button[disabled]:active,
a.Button[disabled]:focus button.Button[disabled]:active,
button.Button[disabled]:focus a.Button[disabled]:active,
button.Button[disabled]:focus button.Button[disabled]:active {
  cursor: not-allowed;
  color: #4B4B59;
  background-color: #D7D9D9;
  border: none;
  border: 1px solid #D7D9D9;
  border-bottom: 3px solid #A4A6A6;
}
a.Button[disabled].Button--link,
button.Button[disabled].Button--link,
a.Button[disabled]:hover.Button--link,
button.Button[disabled]:hover.Button--link,
a.Button[disabled]:focus a.Button[disabled]:active.Button--link,
a.Button[disabled]:focus button.Button[disabled]:active.Button--link,
button.Button[disabled]:focus a.Button[disabled]:active.Button--link,
button.Button[disabled]:focus button.Button[disabled]:active.Button--link {
  background: none;
  border: none;
  color: #b5bcca;
}
a.Button:hover,
button.Button:hover,
a.Button:focus,
button.Button:focus,
a.Button:active,
button.Button:active {
  outline: 0;
}
a.Button--primary,
button.Button--primary {
  background-color: #4274F6;
  color: #FAFCFC;
  border: 1px solid #4274F6;
  border-bottom: 3px solid #345CC4;
}
a.Button--primary:hover,
button.Button--primary:hover,
a.Button--primary:focus,
button.Button--primary:focus,
a.Button--primary:active,
button.Button--primary:active {
  background-color: #3B68DD;
  color: #FAFCFC;
  border: 1px solid #3B68DD;
  border-bottom: 3px solid #2E51AC;
}
a.Button--secondary,
button.Button--secondary {
  background-color: #FAFCFC;
  color: #4274F6;
  border: 1px solid #5481F6;
  border-bottom: 3px solid #677FF7;
}
a.Button--secondary:hover,
button.Button--secondary:hover,
a.Button--secondary:focus,
button.Button--secondary:focus,
a.Button--secondary:active,
button.Button--secondary:active {
  background-color: #FAFCFC;
  color: #345CC4;
  border: 1px solid #345CC4;
  border-bottom: 3px solid #345CC4;
}
a.Button--destructive,
button.Button--destructive {
  background-color: #EB3B49;
  color: #FAFCFC;
  border: 1px solid #EB3B49;
  border-bottom: 3px solid #BC2F3A;
}
a.Button--destructive:hover,
button.Button--destructive:hover,
a.Button--destructive:focus,
button.Button--destructive:focus,
a.Button--destructive:active,
button.Button--destructive:active {
  background-color: #D33541;
  color: #FAFCFC;
  border: 1px solid #D33541;
  border-bottom: 3px solid #A42933;
}
a.Button--link,
button.Button--link {
  background-color: transparent;
  color: #4274F6;
}
a.Button--link:hover,
button.Button--link:hover,
a.Button--link:focus,
button.Button--link:focus,
a.Button--link:active,
button.Button--link:active {
  background-color: transparent;
  color: #345CC4;
}
a.Button--small,
button.Button--small {
  padding: 10px 15px 5px 15px;
  font-size: 10px;
}
a.Button--regular,
button.Button--regular {
  padding: 15px 20px 10px 20px;
  font-size: 15px;
}
a.Button--large,
button.Button--large {
  padding: 20px 25px 15px 25px;
  font-size: 20px;
}
.ConfirmationButton--dialog-buttons {
  text-align: right;
}
.ConfirmationButton--dialog-buttons .Button:first-child {
  margin-right: 10px;
}
.segmented_control .segmented_control--selectable-item {
  background-color: #fff;
  border: 1px solid #e3e6eb;
  color: #566279;
  cursor: pointer;
  display: inline-block;
  font-family: "Proxima Nova";
  font-size: 12px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out, color 0.15s ease-out;
}
.segmented_control .segmented_control--selectable-item:first-child {
  border-radius: 3px 0 0 3px;
}
.segmented_control .segmented_control--selectable-item:last-child {
  border-radius: 0 3px 3px 0;
}
.segmented_control .segmented_control--selectable-item:not(:first-child) {
  margin-left: -1px;
}
.segmented_control .segmented_control--selectable-item:hover,
.segmented_control .segmented_control--selectable-item:focus,
.segmented_control .segmented_control--selectable-item:active {
  background-color: #fafafc;
  border-color: #4274f6;
  position: relative;
  z-index: 1;
}
.segmented_control .segmented_control--selectable-item.segmented_control--selectable-item--selected {
  background-color: #4274f6;
  border-color: #4274f6;
  color: #fafafc;
  position: relative;
  z-index: 2;
}
.segmented_control .segmented_control--selectable-item.segmented_control--selectable-item--disabled {
  background-color: #fafafc;
  border-color: #d7d9d9;
  border-color: #e3e6eb;
  color: #d7d9d9;
  color: #b5bcca;
  cursor: not-allowed;
}
.segmented_control .segmented_control--selectable-item.segmented_control--selectable-item--disabled.segmented_control--selectable-item--selected {
  background-color: #e3e6eb;
  color: #566279;
}
.TextInput {
  position: relative;
  color: #191926;
  background: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid #E3E6EB;
  height: 50px;
  width: 100%;
  font-family: "Proxima Nova";
}
.TextInput .TextInput--infoRow {
  position: absolute;
  top: 5px;
  width: 100%;
  text-transform: uppercase;
  font-size: 10px;
  color: #566279;
}
.TextInput .TextInput--infoRow .TextInput--label {
  left: 10px;
  opacity: 1;
}
.TextInput .TextInput--infoRow .TextInput--required {
  position: absolute;
  right: 20px;
}
.TextInput .TextInput--infoRow .TextInput--error {
  color: #EB3B49;
  position: absolute;
  right: 20px;
}
.TextInput .TextInput--input {
  display: block;
  font-size: 15px;
  border: 0px solid;
  width: 100%;
  line-height: 40px;
  min-height: 40px;
  padding-top: 10px;
  background-color: transparent;
}
.TextInput.TextInput--placeholder-shown label {
  opacity: 0 !important;
}
.TextInput.TextInput--placeholder-shown .TextInput--input {
  line-height: 40px;
  min-height: 40px;
  color: #566279;
  font-size: 12px;
  padding-top: 5px;
  text-transform: uppercase;
}
.TextInput.TextInput--hasError {
  box-shadow: inset 5px 0 #EB3B49;
  transition: box-shadow 0.25s ease-out;
}
.TextInput.TextInput--inFocus {
  box-shadow: inset 5px 0 #4274f6;
  transition: box-shadow 0.25s ease-out;
}
.TextInput.TextInput--disabled {
  color: #566279;
  background: #F0F1F2;
  border: 1px solid #D7D9D9;
}
.TextInput.TextInput--disabled .TextInput--input {
  background: transparent;
}
.TextInput.TextInput--readonly {
  color: #191926;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(226, 230, 235, 0.5);
}
.TextInput textarea:focus,
.TextInput input:focus {
  outline: none;
}
.TextInput .TextInput--link {
  position: absolute;
  top: 50%;
  right: 0;
  margin: -8px 7px;
  border: 0;
  background: none;
  color: #4274F6;
  font-size: 12px;
  border-right: 1px solid #dddddd;
}
.TextInput .TextInput--link:last-child {
  border: 0;
}
.TextInput .TextInput--link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.TextInput .TextInput--link:focus {
  outline: none;
  text-decoration: underline;
}
.TextInput input::-ms-reveal,
.TextInput input::-ms-clear {
  display: none;
}
.CopyableInput {
  position: relative;
}
.CopyableInput--links {
  position: absolute;
  top: 50%;
  right: 0;
  margin: -8px 7px;
}
.CopyableInput--links .CopyableInput--link {
  border: 0;
  background: none;
  color: #4274F6;
  font-size: 12px;
  border-right: 1px solid #dddddd;
}
.CopyableInput--links .CopyableInput--link:last-child {
  border: 0;
}
.CopyableInput--links .CopyableInput--link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.CopyableInput--links .CopyableInput--link:focus {
  outline: none;
  text-decoration: underline;
}
.Modal {
  position: fixed;
  z-index: 200;
}
.Modal--background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #191926;
  opacity: 0.6;
}
.Modal--window {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: fixed;
  border-radius: 3px;
  font-family: "Proxima Nova";
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #FAFCFC;
  background: #FAFCFC;
}
.Modal--header {
  background: #E3E6EB;
  height: 60px;
  padding: 15px 30px;
  box-sizing: border-box;
}
.Modal--header h2 {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #121212;
  font-family: "Proxima Nova", Arial, sans-serif;
}
.Modal--close {
  display: block;
  position: absolute;
  cursor: pointer;
  height: 12px;
  width: 12px;
  background: url(close.png);
  background-size: 12px 12px;
  right: 32px;
  top: 24px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
}
.Modal--close:hover {
  opacity: 0.8;
}
.Modal--window--content {
  position: relative;
  padding: 30px 30px 25px;
  background-color: #FAFCFC;
  box-sizing: border-box;
  overflow-y: auto;
}
.Modal--window--content p {
  margin-top: 0;
  margin-bottom: 15px;
}
.Modal footer {
  margin-top: 40px;
  text-align: right;
}
.Modal footer .Button {
  margin-right: 20px;
}
.Modal footer .Button:last-child {
  margin-right: 0;
}
