@import (reference) "../less/index";

// The Dewey sizing mixins aren't granular enough, so we're using custom values
@iconSizeSmall: 5rem;
@iconSizeMedium: 6.5rem;
@iconSizeLarge: 8rem;
@resourceTilePaddingSmall: 0.75rem;
@resourceTilePaddingMedium: 0.875rem;
@resourceTilePaddingLarge: 1rem;
@fontSizeSmall: 0.75rem;
@fontSizeMedium: 0.875rem;
@fontSizeLarge: 1rem;

.dewey--ResourceTile {
  .borderRadius--xl;
  .margin--right--xs;
  .margin--bottom--xs;
  background-color: @neutral_white;
  position: relative;
}

a.dewey--ResourceTile--link {
  color: @neutral_black;
  text-decoration: none;
}

.dewey--ResourceTile--overlay {
  left: 0;
  pointer-events: none; // Don't let overlays block clicks on resources
  position: absolute;
  top: 0;
}

.dewey--ResourceTile--size--small .dewey--ResourceTile--iconContainer,
.dewey--ResourceTile--size--small .dewey--ResourceTile--overlay {
  height: @iconSizeSmall;
  width: @iconSizeSmall;
  margin: @resourceTilePaddingSmall;
}

.dewey--ResourceTile--size--medium .dewey--ResourceTile--iconContainer,
.dewey--ResourceTile--size--medium .dewey--ResourceTile--overlay {
  height: @iconSizeMedium;
  width: @iconSizeMedium;
  margin: @resourceTilePaddingMedium;
}

.dewey--ResourceTile--size--large .dewey--ResourceTile--iconContainer,
.dewey--ResourceTile--size--large .dewey--ResourceTile--overlay {
  height: @iconSizeLarge;
  width: @iconSizeLarge;
  margin: @resourceTilePaddingLarge;
}

.dewey--ResourceTile--icon {
  .borderRadius--10percent;
  max-height: 100%;
  max-width: 100%;
}

// These styles are only necessary for when we're super zoomed out and icons are actually too small
// to fit their containers
.dewey--ResourceTile--icon.dewey--ResourceTile--icon--landscape {
  width: 100%;
}

.dewey--ResourceTile--icon.dewey--ResourceTile--icon--portrait {
  height: 100%;
}

.dewey--ResourceTile--size--small .dewey--ResourceTile--titleContainer {
  margin: @resourceTilePaddingSmall;
  margin-top: 0;
}

.dewey--ResourceTile--size--medium .dewey--ResourceTile--titleContainer {
  margin: @resourceTilePaddingMedium;
  margin-top: 0;
}

.dewey--ResourceTile--size--large .dewey--ResourceTile--titleContainer {
  margin: @resourceTilePaddingLarge;
  margin-top: 0;
}

// For IE. Even though the parent ResourceTile has a max-width set, this child doesn't respect that
// max on IE
.dewey--ResourceTile--size--small .dewey--ResourceTile--titleAndNotes {
  max-width: @iconSizeSmall;
  font-size: @fontSizeSmall;
}

.dewey--ResourceTile--size--medium .dewey--ResourceTile--titleAndNotes {
  max-width: @iconSizeMedium;
  font-size: @fontSizeMedium;
}

.dewey--ResourceTile--size--large .dewey--ResourceTile--titleAndNotes {
  max-width: @iconSizeLarge;
  font-size: @fontSizeLarge;
}

.dewey--ResourceTile--title {
  overflow: hidden;
  word-wrap: break-word; // For IE
  overflow-wrap: break-word;
  .text--center();
}

.dewey--ResourceTile--notes {
  .margin--left--2xs;
}

.dewey--ResourceTile--additionalInfo {
  .margin--top--xs;
}

.dewey--ResourceTile--action {
  cursor: pointer;
  .text--center();
  width: 100%;
  border-radius: 10% ~"/" 50%;
}

button.dewey--ResourceTile--actionButton {
  .padding--y--4xs();
  .text--center();
  width: 100%;
  border-radius: 10% ~"/" 50%;
}

// We intentionally keep these styles outside the .mq-hover block because teachers should be able
// to edit resources on devices even if they don't support true hover (mobile for example)
.dewey--ResourceTile--action:last-child {
  .margin--top--2xs;
  .margin--bottom--2xs;
  visibility: hidden;
  .fadeOut(@timingPromptly);
}

.dewey--ResourceTile:hover .dewey--ResourceTile--action:last-child {
  .fadeIn(@timingPromptly, @timingPromptly);
}

// Only apply the following styles if the device supports true hover
.mq-hover {
  .dewey--ResourceTile {
    .boxShadowHoverAnimation(@borderRadiusXL);
  }
}

.dewey--ResourceTile--notification {
  .zIndex--2;
  border-radius: 50%;
  background-color: @alert_red_shade_1;
  width: @size_l;
  height: @size_l;
  top: @size_xs;
  right: @size_xs;
  position: absolute;
}

.dewey--ResourceTile--draggableIcon {
  &:hover {
    cursor: grab;
  }
}

.dewey--ResourceTile--size--small .dewey--ResourceTile--draggableIcon {
  padding: @resourceTilePaddingSmall;
  padding-top: 0;
}

.dewey--ResourceTile--size--medium .dewey--ResourceTile--draggableIcon {
  padding: @resourceTilePaddingMedium;
  padding-top: 0;
}

.dewey--ResourceTile--size--large .dewey--ResourceTile--draggableIcon {
  padding: @resourceTilePaddingLarge;
  padding-top: 0;
}

.dewey--ResourceTile--size--small .dewey--ResourceTile--actionButton {
  font-size: @fontSizeMedium;
}
