@import "../less/sizing.less";

.Table--cell {
  padding: @size_m 10px;

  &:first-child {
    padding-left: 20px;
  }

  &:last-child {
    padding-right: 20px;
  }
}

.Table--cell--no_wrap {
  white-space: nowrap;
}
