@import "../less/colors.less";
@import "../less/sizing.less";

@pageNumberMargin: 0 5px;

.Table--footer {
  background-color: @neutral_off_white;
}

.Table--footer--cell {
  font-size: @size_s;
  padding: @size_s;
  text-align: center;
}

.Button.Table--footer--button--scroll {
  @spacing: 40px;
  margin: 0;

  &:not(:last-child) {
    margin-right: @spacing;
  }

  &:not(:first-child) {
    margin-left: @spacing;
  }
}

.Button.Table--footer--button--page {
  margin: @pageNumberMargin;

  &.Button.Table--footer--button--page--selected {
    color: @neutral_black;
  }
}

.Table--footer--page_numbers {
  display: inline-block;
}

.Table--footer--ellipsis {
  color: @primary_blue;
  cursor: default;
  font-size: 1rem;
  margin: @pageNumberMargin;
}
