@import "../less/colors.less";
@import "../less/fonts.less";
@import "../less/sizing.less";

.Table {
  border-collapse: collapse;
  color: @neutral_black;
  font-family: "Proxima Nova";
  font-size: 0.875rem;
  width: 100%;

  &.Table--fixed {
    table-layout: fixed;
  }
}

.Table--no_data_cell {
  color: @neutral_gray;
  font-size: 1rem;
  text-align: center;
}

.Table--body {
  .Table--row {
    border-bottom: @size_4xs solid @neutral_silver;
    &.Table--clickable_row:hover {
      .tint(background-color, @neutral_silver, 5);
      cursor: pointer;
    }
  }
}
