@import (reference) "../less/utilities";

// TODO: rename this...? do I have to....?
@ZZ_TOP: 100;
@HEADER_BAR_HEIGHT: @size_5xl; // 4rem
@DESKTOP_BUFFER_SIZE: @size_l; // 1.5rem

// TODO: can I add this to sizing.less?
@size_ml: 1.25rem;

// .AttachmentPreview {
// }

.AttachmentPreview--Background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: fade(@neutral_black, 60%);
  // TODO: is there a protocol/standard for z indexes?
  z-index: @ZZ_TOP;
}

.AttachmentPreview--HeaderBar {
  background-color: @neutral_black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @HEADER_BAR_HEIGHT;
  z-index: @ZZ_TOP + 1;
  .alignItems(center);
  color: @neutral_white;
}

.AttachmentPreview--AttachmentName {
  // color: @neutral_white;
  line-height: @size_l;
}

.AttachmentPreview--FileIcon {
  max-height: @size_l;
  max-width: @size_l;
  padding: @size_ml @size_s @size_ml @size_l;
  .padding--left--l();
  filter: brightness(0) invert(1); /* makes the file icon white without needing a different <img> src attr */
}

.AttachmentPreview--PreviewWindow {
  position: fixed;
  top: calc(@HEADER_BAR_HEIGHT + @DESKTOP_BUFFER_SIZE);
  left: 50%;
  transform: translateX(-50%);
  // width: 100%;
  height: calc(100% - (2 * @DESKTOP_BUFFER_SIZE));
  z-index: @ZZ_TOP + 1;
}

.AttachmentPreview--ImageContainer {
  margin: 0 auto;
  width: calc(100vw - (2 * @DESKTOP_BUFFER_SIZE));
  height: calc(100vh - @HEADER_BAR_HEIGHT - (2 * @DESKTOP_BUFFER_SIZE));
  z-index: @ZZ_TOP + 2;
  .alignItems(center);
  .justifyContent(center);
}

// TODO: change to .AttachmentPreview--ImageContainer
.AttachmentPreview--PreviewWindow img {
  // render image as larger as natural size, or scale down to fit screen
  object-fit: scale-down;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;

  // TODO: why isn't this working?
  .borderRadius--s();
  z-index: @ZZ_TOP + 3;
}

// @supports (-ms-ime-align: auto) and (-webkit-text-stroke: initial) {
//   .AttachmentPreview--PreviewWindow img {
//     width: calc(100vw - (2 * @DESKTOP_BUFFER_SIZE));
//     height: auto;
//   }
// }

.AttachmentPreview--DownloadContainer {
  .margin--right--xl();
  cursor: pointer;
  line-height: @size_l;
}

.AttachmentPreview--DownloadButton {
  .margin--right--xs();
  line-height: @size_l;
  display: inline-block;
}

.AttachmentPreview--CloseButton {
  display: inline-block;
  cursor: pointer;
  height: @size_l;
  width: @size_l;
  line-height: @size_l;
  margin-right: @size_ml;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: @breakpointS) {
}
