@import (reference) "../less/utilities";

@HEADER_BAR_HEIGHT: @size_5xl;
@DESKTOP_BUFFER_SIZE: @size_l;
@MOBILE_BUFFER_SIZE: @size_xs;
@size_ml: 1.25rem;

.AttachmentPreview--Background {
  .zIndex--5;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: fade(@neutral_black, 60%);
}

.AttachmentPreview--HeaderBar {
  .zIndex--6;
  background-color: @neutral_black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @HEADER_BAR_HEIGHT;
  .alignItems(center);
  color: @neutral_white;
}

.AttachmentPreview--AttachmentName {
  line-height: @size_l;
  .text--truncate();
}

.AttachmentPreview--FileIcon {
  max-height: @size_l;
  max-width: @size_l;
  padding: @size_ml @size_s @size_ml @size_l;
  .padding--left--l();
  filter: brightness(0) invert(1); /* makes the file icon white without needing a different <img> src attr */
  box-sizing: content-box;
}

.AttachmentPreview--PreviewWindow {
  .zIndex--6;
  position: fixed;
  top: @HEADER_BAR_HEIGHT;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - @HEADER_BAR_HEIGHT);
  width: 100vw;
}

.AttachmentPreview--ImageContainer {
  .zIndex--7;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  .alignItems(center);
  .justifyContent(center);
}

.AttachmentPreview--PreviewWindow img {
  .zIndex--8;
  // render image as large as natural size, or scale down to fit screen
  object-fit: scale-down;
  // We apply an absurdly large margin on the left&right so that the image element
  // doesn't occupy any extra horizontal space. Clicks on the margin register on
  // the background component so that the preview will close properly.
  margin: 0 1000rem;
  height: fit-content;
  max-width: calc(100% - (2 * @DESKTOP_BUFFER_SIZE));
  max-height: calc(100% - (2 * @DESKTOP_BUFFER_SIZE));
}

.AttachmentPreview--ErrorContainer {
  padding: @size_l;
  background: @neutral_white;
  line-height: @size_l;
  border-radius: @size_xs;
  color: @alert_red_shade_1;
  font-weight: 600;
}

.fa.AttachmentPreview--ErrorIcon {
  font-size: @size_l;
  .margin--right--xs();
}

// need to override Button styling, hence all the `color: @neutral_white !important;`
.fa.AttachmentPreview--DownloadButton {
  .margin--right--xs();
  line-height: @size_l;

  // override Button styling
  transition: none;
  color: @neutral_white !important;

  :hover,
  :active {
    color: @neutral_white !important;
  }
}

.Button.AttachmentPreview--DownloadContainer {
  .flexbox();
  color: @neutral_white !important;
  .margin--right--xl();
  cursor: pointer;
  line-height: @size_l;

  // override Button styling
  transition: none;

  :hover,
  :active {
    color: @neutral_white !important;

    .fa.AttachmentPreview--DownloadButton {
      color: @neutral_white !important;
    }
  }
}

.fa.AttachmentPreview--CloseButton {
  .margin--right--xs();
  line-height: @size_l;

  // override Button styling
  transition: none;
  color: @neutral_white !important;

  :hover,
  :active {
    color: @neutral_white !important;
  }
}

.Button.AttachmentPreview--CloseContainer {
  .flexbox();
  color: @neutral_white !important;
  display: inline-block;
  cursor: pointer;
  height: @size_l;
  line-height: @size_l;
  margin-right: @size_ml;
  text-align: center;
  vertical-align: middle;

  // override Button styling
  transition: none;

  :hover,
  :active {
    color: @neutral_white !important;
  }
}

.AttachmentPreview--FooterBar {
  display: none;
}

@media only screen and (max-width: @breakpointM) {
  .AttachmentPreview--PreviewWindow {
    top: @HEADER_BAR_HEIGHT;
    height: calc(100vh - (2 * @HEADER_BAR_HEIGHT));
    width: 100vw;
  }

  .AttachmentPreview--PreviewWindow img {
    max-width: calc(100% - (2 * @MOBILE_BUFFER_SIZE));
    max-height: calc(100% - (2 * @MOBILE_BUFFER_SIZE));
  }

  .Button.AttachmentPreview--CloseContainer {
    .margin--right--m();
  }

  .AttachmentPreview--FooterBar {
    .zIndex--6;
    display: flex;
    .justify--end();
    background-color: @neutral_black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: @HEADER_BAR_HEIGHT;
    .alignItems(center);
    color: @neutral_white;
  }

  .AttachmentPreview--HeaderBar .AttachmentPreview--DownloadContainer {
    display: none;
  }

  .AttachmentPreview--FooterBar .AttachmentPreview--DownloadContainer {
    .flexbox();
    text-align: right;
    .margin--right--m();
    .margin--left--m();

    // override button styling
    transition: none;
    color: @neutral_white !important;

    :hover,
    :active {
      color: @neutral_white !important;
    }
  }
}
