@import (reference) "../less/utilities";

.AttachmentPreview {
  .border--s(@neutral_silver);
  .borderRadius--m;
  .padding--m;
  background-color: @neutral_off_white;
}

.AttachmentPreview--subElement {
  .border--s(@neutral_silver);
  .padding--s;
  background-color: @neutral_white;
  text-align: right;
}

.AttachmentPreview--Background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: fade(@neutral_black, 60%);
  // TODO: is there a protocol/standard for this?
  z-index: 100;
}

.AttachmentPreview--PreviewWindow {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  position: fixed;
  height: 15rem;
  width: 15rem;
}
