@import (reference) "./defs";
@import (reference) "../less/index";


.TabBar--small {
  .type_small;
  box-shadow: inset 0 -@tabBorderWidthSmall @neutral_silver;
}

.TabBar--medium {
  .type_medium;
  box-shadow: inset 0 -@tabBorderWidthMedium @neutral_silver;
}

.TabBar--large {
  .type_large;
  box-shadow: inset 0 -@tabBorderWidthLarge @neutral_silver;
}
