@import (reference) "../less/utilities";

@ICON_SMALL_SIZE: @size_2xl;
@ICON_REGULAR_SIZE: @size_2xl;
@HOVER_BACKGROUND_COLOR: #f9faff;
@ERROR_RED: #df3537;
@ERROR_RED_TEXT: @alert_red_shade;

.MessagingAttachment--ParentContainer {
  position: relative;
  .text--truncate();
}

.MessagingAttachment--Container {
  z-index: auto;
  width: 21.875rem; // 350px
  cursor: pointer;
  padding-left: 0.6875rem; // 11px
  padding-right: 0.9375rem; // 15px
  padding-top: 0.9375rem; // 15px
  padding-bottom: 0.9375rem; // 15px
  height: @ICON_REGULAR_SIZE;
  border: @size_4xs solid @neutral_silver;
  border-radius: @size_2xs;
  box-sizing: content-box;
}

.MessagingBubble--Message .MessagingAttachment--Container {
  .margin--top--3xs();
  width: 22.5rem;
}

.MessagingBubble--Message .MessagingAttachment--ParentContainer {
  max-width: 100%;
  margin-right: 0;
}

.MessagingAttachment--IconContainer {
  height: @ICON_REGULAR_SIZE;
  .margin--right--s();
  align-items: center;
  justify-content: center;
}

// handle FontAwesome as well, for loading spinner
.MessagingAttachment--IconContainer img,
.MessagingAttachment--IconContainer .fa,
.MessagingAttachment--IconContainer > * {
  max-height: @ICON_REGULAR_SIZE;
  max-width: @ICON_REGULAR_SIZE;
  width: auto;
  height: auto;
}

.MessagingAttachment--TextContainer {
  justify-content: center;
  color: @neutral_dark_gray;
  max-width: 18.625rem; // 298px
  .text--truncate();
}

// TODO: remove if unused
.MessagingAttachment--Title {
  font-size: @size_m;
  line-height: @size_l;
  .text--semi-bold();
  .text--truncate();
}

.MessagingAttachment--Subtitle {
  font-size: 0.875rem; // 14px
  line-height: @size_m;
  .text--truncate();
}

.MessagingAttachment--CloseButton {
  z-index: 10;
  position: absolute;
  .flexbox();
  top: -0.625rem; // 10px
  right: -0.625rem; // 10px
  width: 1.25rem; // 20px
  height: 1.25rem; // 20px
  border-radius: 50%;
  cursor: pointer;
  background-color: @neutral_medium_gray;
  color: @neutral_white;
  padding: 0;
  border: @size_3xs solid white;

  // TODO: doesn't turn off after click...
  // maybe this doesn't matter cause clicking will close the box?
  &:hover,
  &:focus,
  &:active {
    background-color: @neutral_black;
  }
}

.MessagingAttachment--CloseIcon {
  font-size: @size_s;
  margin: auto;
}

.MessagingAttachment--Container.MessagingAttachment--Short {
  width: 12.75rem; // 204px
  cursor: default;
  height: @ICON_SMALL_SIZE;
  padding-left: 0.4375rem; // 7px
  padding-right: 0.4375rem; // 7px
  padding-top: 0.6875rem; // 11px
  padding-bottom: 0.6875rem; // 11px

  .MessagingAttachment--IconContainer {
    height: @ICON_SMALL_SIZE;
    .margin--right--xs();
  }

  // handle FontAwesome as well, for loading spinner
  .MessagingAttachment--IconContainer img,
  .MessagingAttachment--IconContainer .fa,
  .MessagingAttachment--IconContainer > * {
    max-height: @ICON_SMALL_SIZE;
    max-width: @ICON_SMALL_SIZE;
  }

  .MessagingAttachment--TextContainer {
    max-width: 10.25rem; // 164px
  }

  .MessagingAttachment--Title {
    line-height: @size_m;
    font-size: 0.875rem; // 14px
  }

  .MessagingAttachment--Subtitle {
    font-size: 0.875rem; // 14px
    line-height: @size_m;
    color: @neutral_dark_gray;
    .text--regular();
    margin-top: 0;
  }

  &.MessagingAttachment--IsUploading {
    width: 12.25rem; // 196px
    padding-left: 0.6875rem; // 11px
    padding-right: 0.6875rem; // 11px

    .MessagingAttachment--TextContainer {
      max-width: 10.375rem; // 166px
    }
  }
}

.MessagingAttachment--Container:hover {
  background-color: @HOVER_BACKGROUND_COLOR;
  border-color: @primary_blue_tint_2;
  cursor: pointer;

  .MessagingAttachment--Title {
    color: @primary_blue_shade_2;
  }
}

.MessagingAttachment--Container.MessagingAttachment--IsUploading:hover {
  background-color: @neutral_white;
  border-color: @neutral_silver;
  cursor: default;

  .MessagingAttachment--Title {
    color: @neutral_dark_gray;
  }
}

.MessagingAttachment--Container.MessagingAttachment--Short.MessagingAttachment--IsUploading.MessagingAttachment--Error {
  border-color: @ERROR_RED;
  width: 11.75rem; // 188px
  padding-left: 0.9375rem; // 15px
  padding-right: 0.9375rem; // 15px

  .MessagingAttachment--IconContainer {
    margin-right: @size_s;
  }

  .MessagingAttachment--ErrorCircle {
    color: @ERROR_RED_TEXT;
  }

  .MessagingAttachment--TextContainer {
    width: 9.875rem;
  }

  .MessagingAttachment--Title {
    color: @ERROR_RED_TEXT;
    font-weight: 400;
  }
}

.MessagingAttachment--ParentContainer.MessagingAttachment--ParentContainer--IsUpload {
  overflow: visible; // ensures you can see the x icon in top right corner
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .MessagingAttachment--Container {
    padding: @size_s @size_s @size_s @size_xs;
    width: auto;
  }

  .MessagingAttachment--Title {
    font-size: @type_small_medium; //14px
  }

  .MessagingBubble--Message--Container--Own .MessagingAttachment--Container {
    margin-left: @size_5xl;
    width: calc(100% - 4rem);
    min-width: 13rem;
    max-width: 21.125rem;
    overflow: hidden;
  }

  .MessagingBubble--Message--Container--Other .MessagingAttachment--Container {
    margin-right: @size_5xl;
    width: calc(100% - 4rem);
    min-width: 13rem;
    max-width: 21.125rem;
    overflow: hidden;
  }

  // ⬇️ In attachment-only messages, we don't want the margins defined above either ⬇️
  .MessagingBubble--Message--Timestamp--Own
    + .MessagingBubble--Message--Attachment--Own
    .MessagingAttachment--Container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .MessagingBubble--Message--Timestamp--Other
    + .MessagingBubble--Message--Attachment--Other
    .MessagingAttachment--Container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  // ⬇️ In quoted announcements, we don't want the margins defined above ⬇️
  .MessagingBubble--Message--Container--Own
    .MessagingBubble--Message--Own.MessagingBubble--Message--Reply--Parent
    .MessagingAttachment--Container {
    margin-left: 0;
    margin-right: 0;
  }

  .MessagingBubble--Message--Container--Other
    .MessagingBubble--Message--Other.MessagingBubble--Message--Reply--Parent
    .MessagingAttachment--Container {
    margin-left: 0;
    margin-right: 0;
  }
}
