@import (reference) "../less/index";

.MessageMetadata--Message--container {
  .flexbox();
  flex-direction: column;
  .margin--y--m();
  .margin--x--xs();
  // Without this, messages 'bunch up' on Safari.
  flex-shrink: 0;
}

.MessageMetadata--Message--center {
  .margin--y--s();
  margin-left: auto;
  margin-right: auto;
  .flexbox();
  .text--center();
}

.MessageMetadata--Message--right {
  .flexbox();
  flex-direction: row-reverse;
  align-items: center;
}

.MessageMetadata--Message--left {
  .flexbox();
  flex-direction: row;
  align-items: center;
}

.MessageMetadata--Message--fullWidth {
  .flexbox();
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.MessageMetadata--Timestamp--right {
  color: @neutral_medium_gray;
  font-size: 0.875rem;
  .margin--right--xs();
  .text--line-height-1();
  white-space: nowrap;
}

.MessageMetadata--Timestamp--left {
  color: @neutral_medium_gray;
  font-size: 0.875rem;
  .margin--left--xs();
  .text--line-height-1();
  white-space: nowrap;
}

.MessageMetadata--ReadReceipt {
  .padding--top--2xs();
  text-align: right;
  color: @neutral_medium_gray;
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .MessageMetadata--Message--container {
    .margin--y--2xs();
  }

  .MessageMetadata--Message--fullWidth {
    // Extra margin between bubbles for fullWidth messages
    margin: 0.25rem 0;
  }
}
