@import (reference) "../less/index";

.ThreadHistory--Container {
  overflow-y: auto;
  .padding--right--s();
}

.ThreadHistory--Divider {
  .margin--y--m();
  font-size: 0.875rem;
  .text--line-height-1();
  color: @neutral_medium_gray;
  .text--center();
}

.ThreadHistory--FirstMessage {
  margin-top: auto;
}

.ThreadHistory--AlertMessage--Container {
  .border--m(@neutral_silver);
  .borderRadius--l();
  .margin--x--xs();
  .margin--y--xs();
  .padding--m();
  align-items: center;
  color: @neutral_dark_gray;
}

.ThreadHistory--AlertMessage {
  .margin--left--m();
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .ThreadHistory--Divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .ThreadHistory--AlertMessage--Container {
    .padding--x--s();
    .padding--y--xs();
  }

  .ThreadHistory--AlertMessage {
    font-size: 0.875rem;
  }
}
