@import (reference) "../less/index";

.ThreadHistory--Container {
  .padding--right--s();
  overflow-y: auto;
  flex-direction: column;
}

.ThreadHistory--Divider {
  .margin--y--m();
  font-size: 0.875rem;
  .text--line-height-1();
  color: @neutral_gray;
  .text--center();
}

.ThreadHistory--FirstMessage {
  margin-top: auto;
}
