@import (reference) "../less/index";

.MessageMetadata--Message--center {
  .margin--y--l();
  margin-left: auto;
  margin-right: auto;
  .flexbox();
  .text--center();
  // Without this, messages 'bunch up' on Safari.
  flex-shrink: 0;
}

.MessageMetadata--Message--right {
  .margin--y--m();
  .margin--x--xs();
  .flexbox();
  flex-direction: row-reverse;
  align-items: center;
  // Without this, messages 'bunch up' on Safari.
  flex-shrink: 0;
}

.MessageMetadata--Message--left {
  .margin--y--m();
  .margin--x--xs();
  .flexbox();
  flex-direction: row;
  align-items: center;
  // Without this, messages 'bunch up' on Safari.
  flex-shrink: 0;
}

.MessageMetadata--Timestamp--right {
  color: @neutral_medium_gray;
  font-size: 0.875rem;
  .margin--right--xs();
  .text--line-height-1();
  white-space: nowrap;
}

.MessageMetadata--Timestamp--left {
  color: @neutral_medium_gray;
  font-size: 0.875rem;
  .margin--left--xs();
  .text--line-height-1();
  white-space: nowrap;
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .MessageMetadata--Message--center {
    .margin--y--m();
  }

  .MessageMetadata--Message--right {
    .margin--y--2xs();
  }

  .MessageMetadata--Message--left {
    .margin--y--2xs();
  }
}
