@import (reference) "~clever-components/dist/less/index";

.NewThread {
  position: relative;
  .padding--left--xs();
  .padding--right--m();
  .padding--y--m();
  color: @neutral_dark_gray;
  align-items: center;
}

.NewThread--selected {
  background-color: #F3F5FD;
  border-radius: 0.3125rem;
}

.NewThread--Name {
  .margin--bottom--3xs();
  .text--medium();
  .text--line-height-2();
}

.NewThread--Icon {
  .margin--right--xs();
}
