@import (reference) "../less/utilities";

@topBarHeight: 3.75rem;
@topBarHeightMargin: 1.25rem;
@activeIndicatorSize: 11px;
// Hover that is at 3:1 color contrast with @primary_blue
@primary_blue_hover: #002B6A;
