@import (reference) "../less/utilities";
@import (reference) "./common";

.dewey--TopBar {
  height: @topBarHeight;
  min-width: 0;
  transition: all @timingPromptly ease-out;
  .padding--x--2xs;
  // TODO: Consider creating a color variable if this should be a color used elsewhere.
  /* stylelint-disable-next-line declaration-property-value-whitelist */
  background-color: #3761e9;

  /* stylelint-disable unit-whitelist */
  box-shadow: 0 1px 6px 2px rgba(33, 70, 189, 0.25);
  /* stylelint-enable unit-whitelist */

  &.dewey--TopBar--rightPadding {
    .padding--right--s;
  }
}

.dewey--TopBar--logo {
  .flexShrink(0);
  font-size: 1.75rem;
}

@media only screen and (max-width: @breakpointS) {
  .dewey--TopBar--logo--mobile {
    width: 2em;
  }
}

.dewey--TopBar--logoLink {
  .padding--x--m;
}

.dewey--TopBar--title {
  .padding--none;
  .margin--y--none;
  .margin--x--xs;
  .text--medium;
  .text--regular;
  .text--truncate;
  color: @neutral_white;
}

// PLAIN theme:
.dewey--TopBar.dewey--TopBar--theme--plain {
  background: none;
  box-shadow: none;

  .dewey--TopBar--logoSubtext {
    color: @primary_blue;
  }

  .dewey--TopBar--title {
    color: @primary_blue;
  }

  .TopBarButton {
    color: @primary_blue;

    // Copied from "link" Button type:
    &:hover,
    &:focus,
    &:active {
      color: @primary_blue_shade_2;
      background-color: fade(@primary_blue, 5%);
    }
  }

  .dewey--TopBar--logo {
    .dewey--Logo--text {
      fill: @primary_blue;
    }
  }
}

// a11y theme: meets all accessibility color contrast requirements
// https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast
.dewey--TopBar.dewey--TopBar--theme--a11y {
  .TopBarButton {
    &:hover,
    &:focus,
    &:active {
      background-color:fade(@primary_blue_hover, 100%);
    }
  }
}
