@import (reference) "../less/index";
@import (reference) "./common";

.TopBarButton {
  .text--semi-bold;
  .button--reset;
  .flexbox;
  .flexDirection(column);
  .flexShrink(0);
  .items--stretch;
  .justify--center;
  .borderRadius--m;
  box-sizing: border-box;
  color: @neutral_white;
  height: @topBarHeight - @size_xs;
  .padding--x--m;
  position: relative;
  text-align: center;
}

.TopBarButton:focus,
.TopBarButton:hover {
  /* stylelint-disable-next-line declaration-property-value-whitelist */
  background-color: rgba(0, 0, 0, 0.15);
  color: @neutral_white;
}

.TopBarButton--activeIndicator {
  opacity: 0.8;
  background-image: linear-gradient(270deg, #44d7d2 0%, #7fe5e2 100%);
  /* stylelint-disable-next-line unit-whitelist */
  box-shadow: 0 1px 6px 2px rgba(33, 70, 189, 0.25);
  /* stylelint-disable-next-line unit-whitelist */
  border-radius: 1px;
  /* stylelint-disable-next-line unit-whitelist */
  height: 3px;
  position: absolute;
  box-sizing: border-box;
  display: block;
  left: @size_s;
  right: @size_s;
}
