@import (reference) "../less/utilities";

.dewey--FamilyPortalLogo {
  .flexbox();
  .items--start();
}

.dewey--FamilyPortalLogo--image {
  .flexShrink(0);
  height: 1.5rem;
  transition: all @timingPromptly ease-out;
  width: auto;
}
