@import (reference) "../less/index";

.MessagingInput--Container {
  position: relative;
}

.MessagingInput--InnerContainer {
  align-items: flex-end;
  width: 100%;
}

.MessagingInput--InnerContainer--Content {
  width: 100%;
  .margin--right--xs();
  overflow-y: auto;
}

// ----- Label and checkbox that show above reply/text area

.MessagingInput--LabelAndCheckbox--Container {
  .margin--bottom--2xs();
}

.MessagingInput--LabelAndCheckbox--Checkbox {
  animation: fadein 0.25s;
  .text--truncate();

  // Leave enough space for the checkbox border when the checkbox is focused
  .padding--bottom--2xs();
  .padding--left--2xs();
  .padding--top--2xs();
}

.MessagingInput--LabelAndCheckbox--Label {
  color: @neutral_medium_gray;
  .margin--right--m();
  .padding--bottom--2xs();
  .padding--top--2xs();
}

// ----- Reply

.MessagingInput--Reply--Container {
  justify-content: center;
  .border--m(@neutral_silver);
  border-bottom: none;
  .padding--m();
  /* stylelint-disable */
  max-height: 200px;
  /* stylelint-enable */
  overflow-y: auto;
  scroll-padding-bottom: 1rem;
  .borderRadius--top--l();
}

.MessagingInput--Reply--Container.MessagingInput--Reply--Container--WithActiveInput {
  .border--m(@primary_blue_tint_2);
  border-bottom: none;
}

.MessagingInput--Reply--Content {
  position: relative;
}

.MessagingInput--Reply--CloseButton {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: @neutral_medium_gray;
  border: @size_3xs solid white;
  color: @neutral_white;
  padding: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: @neutral_black;
    color: @neutral_white;
  }
}

.MessagingInput--Reply--CloseIcon {
  .text--smallMedium();
  margin-left: 0.0625rem; // 1 px because the FA icon is slightly off center
}

// ----- Text input and send button

.MessagingInput--TextField {
  .padding--y--none();
  min-height: 2.75rem;
  min-width: 8rem;
  .border--m(@neutral_silver);
  .borderRadius--l();

  .TextArea--input {
    .margin--y--none();
    .padding--y--xs();
    // Prevents text from overlapping with the attachment icon and scrollbar when both are present.
    // 2.6rem was selected after a process of trial and error
    padding-right: 2.6rem;
    color: @neutral_dark_gray;
    // Fits 3 rows of text. Overflow is scrollable.
    max-height: @size_5xl;
    .text--line-height-4();
  }

  &.TextArea--placeholder-shown {
    .TextArea--input {
      color: @neutral_medium_gray;
      min-height: @size_l;
      .text--medium();
      white-space: nowrap;
    }
  }

  &.TextArea--inFocus {
    .border--m(@primary_blue_tint_2);
    box-shadow: none;
  }
}

.MessagingInput--TextField.MessagingInput--TextField--WithReply {
  .borderRadius--top--0();
  border-top: none;
}

.MessagingInput--SendIcon {
  display: none;
}

.MessagingInput--SendText {
  .margin--left--xs();
}

.Button.MessagingInput--SendButton {
  // Sizing for this button is pretty particular
  border: none;
  padding: 0.8125rem 0.75rem;
  line-height: normal;
}

// ----- Return key instructions underneath MessagingInput

.MessagingInput--InstructionsLabel {
  color: @neutral_medium_gray;
  animation: fadein 0.25s;
  font-size: 0.75rem; // 12px
  line-height: 1rem;
  .margin--y--2xs();
}

.MessagingInput--InstructionsLabel--spacer {
  height: 1.5rem; // margin + height of text of label
  flex-shrink: 0;
}

.MessagingInput--InstructionsLabel--bold {
  .text--semi-bold();
}

.MessagingInput--InstructionsLabel--last {
  .margin--left--m();
}

// ----- Attachments

.MessagingInput--UploadedAttachments {
  .padding--top--m();
  .padding--bottom--xs();
}

.MessagingAttachment--ParentContainer {
  .margin--right--m();
}

.MessagingInput--ShowUploadAttachmentButton .FileInput {
  height: @size_2xl;
  .padding--none();
  border: none;

  // Hide FileInput after file has been selected and uploading has begun
  &.FileInput--AttachmentIsUploading {
    display: none;
  }

  .FileInput--Icon {
    position: absolute;
    right: 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 0.75rem;
    .borderRadius--l();

    &:hover {
      fill: #f5f8fd;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .MessagingInput--Reply--Container {
    .borderRadius--top--xl();
  }

  .MessagingInput--Reply--Container.MessagingInput--Reply--Container--WithActiveInput {
    .border--m(@neutral_silver);
    border-bottom: none;
  }

  .MessagingInput--TextField {
    .margin--right--none();
    min-height: 2rem;
    border-radius: 2rem;

    &.TextArea--inFocus {
      .border--m(@neutral_silver);
    }
  }

  .MessagingInput--TextField.MessagingInput--TextField--WithReply {
    .borderRadius--bottom--xl();
    border-top: none;
  }

  .MessagingInput--Container {
    background-color: @neutral_white;
  }

  .MessagingInput--SendIcon {
    height: 100%;
    display: block;
    background-color: transparent;
  }

  .MessagingInput--SendText {
    display: none;
  }

  .Button.MessagingInput--SendButton {
    border-radius: 50%;
  }

  .MessagingInput--InstructionsLabel {
    display: none;
  }

  .MessagingInput--InstructionsLabel--spacer {
    display: none;
  }
}
