@import (reference) "../less/index";

.MessagingInput--Container {
  position: relative;
}

.MessagingInput--TextField {
  .margin--right--xs();
  .padding--y--none();
  min-height: 2.75rem;
  min-width: 8rem;
  .border--m(@neutral_silver);
  border-radius: @size_2xs;

  .TextArea--input {
    color: @neutral_dark_gray;
    .margin--y--xs();
    // Fits 3 rows of text. Overflow is scrollable.
    max-height: @size_5xl;
    .text--line-height-4();
  }

  &.TextArea--placeholder-shown {
    .TextArea--input {
      color: @neutral_medium_gray;
      min-height: @size_l;
      .text--medium();
      white-space: nowrap;
    }
  }
}

.MessagingInput--SendIcon {
  display: none;
}

.MessagingInput--SendText {
  display: block;
}

button.MessagingInput--SendButton {
  // Sizing for this button is pretty particular
  padding: 0.625rem @size_l 0.625rem;
}

@media only screen and (max-width: @breakpointM) {
  .MessagingInput--TextField {
    .margin--right--none();
    border-radius: @size_m;
    min-height: 2rem;
  }

  .MessagingInput--SendIcon {
    display: block;
    background-color: transparent;
    border-radius: 50%;
  }

  .MessagingInput--SendText {
    display: none;
  }

  button.MessagingInput--SendButton {
    position: absolute;
    right: 0.375rem;
    bottom: 0.375rem;
    height: @size_xl;
    width: @size_xl;
    padding: 0;
    border: none;
    border-radius: 50%;
  }
}
