@import (reference) "../less/index";

.MessagingInput--Container {
  position: relative;
}

.MessagingInput--InnerContainer {
  align-items: flex-end;
  width: 100%;
}

.MessagingInput--InnerContainer--Content {
  width: 100%;
  .margin--right--xs();
}

.MessagingInput--Reply--Container {
  justify-content: center;
  .border--m(@neutral_silver);
  border-bottom: none;
  .padding--m();
  /* stylelint-disable */
  max-height: 200px;
  /* stylelint-enable */
  overflow-y: scroll;
  scroll-padding-bottom: 1rem;
}

.MessagingInput--Reply--Content {
  position: relative;
}

.MessagingInput--Reply--CloseButton {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  .padding--3xs();
  border-radius: 50%;
  cursor: pointer;
  background-color: @neutral_silver;
  color: @neutral_dark_gray;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: @neutral_gray;
    color: @neutral_off_white;
  }
}

.MessagingInput--Reply--CloseIcon {
  // covers possible range of FA sizes
  min-width: 1em;
  min-height: 1em;
  max-width: 2em;
  max-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MessagingInput--TextFieldLabel {
  color: @neutral_medium_gray;
  .margin--bottom--2xs();
}

.MessagingInput--TextFieldLabelHidden {
  /* stylelint-disable */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
  /* stylelint-enable */
}

.MessagingInput--TextField {
  .padding--y--none();
  min-height: 2.75rem;
  min-width: 8rem;
  .border--m(@neutral_silver);

  .TextArea--input {
    color: @neutral_dark_gray;
    .margin--y--xs();
    // Fits 3 rows of text. Overflow is scrollable.
    max-height: @size_5xl;
    .text--line-height-4();
  }

  &.TextArea--placeholder-shown {
    .TextArea--input {
      color: @neutral_medium_gray;
      min-height: @size_l;
      .text--medium();
      white-space: nowrap;
    }
  }
}

.MessagingInput--SendIcon {
  display: none;
}

.MessagingInput--SendText {
  display: block;
}

button.MessagingInput--SendButton {
  // Sizing for this button is pretty particular
  padding: 0.6875rem 1.5rem 0.6875rem;
  line-height: normal;
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .MessagingInput--TextField {
    .margin--right--none();
    min-height: 2rem;

    .TextArea--input {
      // Padding to account for the inside-textarea Send button in mobile UI.
      //  Ensures that text is to the left of the Send button.
      padding-right: 2.5rem;
    }
  }

  .MessagingInput--SendIcon {
    height: 100%;
    display: block;
    background-color: transparent;
  }

  .MessagingInput--SendText {
    display: none;
  }

  .MessagingInput--InnerContainer--Content {
    .margin--right--none();
  }

  button.MessagingInput--SendButton {
    position: absolute;
    right: 0.375rem;
    bottom: 0.375rem;
    height: @size_xl;
    width: @size_xl;
    padding: 0;
    border: none;
  }
}
