@import "../less/fonts.less";
@import (reference) "../less/index";

.Wizard {
  .flexbox();
}

.Wizard--sidebar {
  .flex(0, 0, 15rem);
  width: 15rem;
  .padding--m;
  background-color: @neutral_off_white;
  .border--right--m(@neutral_silver);

  h2 {
    .text--regular;
  }
}

.Wizard--contentGroup {
  min-width: 37.5rem;
  max-width: 37.5rem;
  .padding--s;
  .margin--left--none;

  &.Wizard--WizardStep--help {
    min-width: 18.75rem;
  }
}

.Wizard--navButtons {
  text-align: right;
}

.Wizard--step {
  .flex(1);
  .padding--l;
}

.Wizard--WizardStep--title {
  width: 100%;
  .border--bottom--m(@neutral_silver);
}

.Wizard--stepContainer {
  display: none;

  &.Wizard--stepContainer--current {
    display: block;
  }
}

.Wizard--stepsDisplay {
  list-style-type: none;
  .padding--none;

  li {
    &:not(:last-child)::after {
      display: block;
      content: "";
      .border--left--s(@neutral_gray);
      .margin--left--s;
      height: @size_l;
    }
  }
}

.Wizard--controls {
  .margin--top--l;
}

.Wizard--stepsDisplay--stepButton.Button {
  .padding--none;
}

.Wizard--stepsDisplay--step {
  // ensure each item in list is vertically centered
  .flexbox();
  .alignItems(center);
  width: 100%;
  .padding--y--2xs;

  &:not(.Wizard--stepsDisplay--visited):not(.Wizard--stepsDisplay--stepLink) {
    .shade(color, @neutral_gray, 1);
  }

  &.Wizard--stepsDisplay--visited {
    .Wizard--stepsDisplay--icon {
      background-image: url("../../assets/images/progress_notFinished.svg");
    }
  }

  &.Wizard--stepsDisplay--valid {
    .Wizard--stepsDisplay--icon {
      background-image: url("../../assets/images/progress_done.svg");
    }
  }

  &.Wizard--stepsDisplay--currentStep {
    .Wizard--stepsDisplay--icon {
      background-image: url("../../assets/images/progress_here.svg");
    }
  }
}

.Wizard--stepsDisplay--stepTitle {
  display: block;
  overflow: hidden;
}

.Wizard--stepsDisplay--icon {
  display: inline-block;
  .flexShrink(0);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../assets/images/progress_notStarted.svg");
  background-repeat: no-repeat;
  background-size: contain;
  .margin--right--2xs;
}

.Wizard--WizardStep--componentWrapper {
  .flexbox();
  .flexWrap(wrap);
  .alignItems(flex-start);
}

.Wizard--WizardStep--component {
  .flex(1, 0, 37.5rem);
}

.Wizard--WizardStep--help {
  .flex(1, 0, 18.75rem);
}
