@import (reference) "../less/index";

.FileInput {
  .text--medium;
  .text--caps;
  .padding--x--s;
  .border--s(@neutral_silver);
  background: @neutral_white;
  box-sizing: border-box;
  color: @neutral_dark_gray;
  cursor: pointer;
  height: @size_4xl;
  position: relative;
}

.FileInput--Label {
  .text--caps;
  .text--tiny;
  color: @neutral_dark_gray;
  position: absolute;
  top: @size_xs;
  width: 100%;
}

.FileInput--Text,
.FileInput--Icon {
  .alignSelf(center);
}

.FileInput--Icon {
  margin: auto;
}

.FileInput--Text--selected {
  color: @neutral_black;
  .margin--top--s;
}

.FileInput.FileInput--MessageAttachment {
  height: 2.75rem;
  border: none;
  padding: 0;

  &.FileInput--AttachmentIsUploading {
    display: none;
  }

  .FileInput--Icon {
    margin: 0.375rem 0.5rem 0.375rem 0.75rem;
    border-radius: 0.25rem;

    &:hover {
      fill: #f5f8fd;
    }
  }
}

// Overwrite the inlined styles on the hidden file input for accessibility
.FileInput + input[type="file"] {
  display: inline !important;
  margin-left: -10000rem;
  position: fixed;
}
