@import (reference) "../less/index";

.FileInput {
  .text--medium;
  .text--caps;
  .padding--x--s;
  .border--s(@neutral_silver);
  background: @neutral_white;
  box-sizing: border-box;
  color: @neutral_dark_gray;
  cursor: pointer;
  height: @size_4xl;
  position: relative;
}

.FileInput--Label {
  .text--caps;
  .text--tiny;
  color: @neutral_dark_gray;
  position: absolute;
  top: @size_xs;
  width: 100%;
}

.FileInput--Text,
.FileInput--Icon {
  .alignSelf(center);
}

.FileInput--Icon {
  margin: auto;
}

// Adding outline to FileInput when selected with the keyboard
.DropzoneContainer {
  // note: focus-within selector does not work in IE. so in IE, there is no visual marker for when
  // the dropzone is selected with the keyboard
  &:focus-within {
    .FileInput:not(.FileInput--IconOnly),
    .FileInput--IconOnly .FileInput--Icon {
      outline: 0.1875rem solid @primary_blue_shade_2;
    }
  }
}

.FileInput--Text--selected {
  color: @neutral_black;
  .margin--top--s;
}

// Overwrite the inlined styles on the hidden file input for accessibility
.FileInput + input[type="file"] {
  display: inline !important;
  margin-left: -10000rem;
  position: fixed;
}
