@import (reference) "../src/less/index.less";

.TabBarExample {
  font-size: 0.875rem;

  * {
    box-sizing: border-box;
  }

  code {
    .text--medium;
    color: @neutral_gray;
    font-weight: normal;
  }

  h2 {
    .text--large;
  }
}

.TabBarExample--config {
  .margin--x--m;
}

h4.TabBarExample--configLabel {
  padding: 0;
  width: 5rem;
}

.TabBarExample--ViewContainer {
  .border--s(@neutral_silver);
  .borderRadius--m;
  .margin--top--m;
  .margin--x--m;
  .padding--x--l;
  background-color: @neutral_off_white;
  height: 15rem;
  min-width: 37.5rem;
}

.TabBarExample--ViewContainer--heading {
  .margin--bottom--m;
  .margin--top--xl;
  .margin--x--s;
}
