@import (reference) "../less/utilities";

.TextInput2 {
  .border--s(@neutral_silver);
  .borderRadius--m;
  .padding--m;
  background-color: @neutral_off_white;
}

.TextInput2--subElement {
  .border--s(@neutral_silver);
  .padding--s;
  background-color: @neutral_white;
  text-align: right;
}
