@import (reference) "../less/index";

.Label {
  .text--center();
  .text--line-height-1();
  .text--semi-bold();
  .text--nowrap();
  // radius needs to be anything >= 50% the total label height for rounded corners
  border-radius: @size_l;
  color: @neutral_black;
  cursor: default;
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, font-size 0.25s ease-out,
    padding 0.25s ease-out;

  &:active,
  &:focus {
    outline: 0;
  }
}

.Label--withTooltip {
  cursor: help;
  // Relative positioning needed to provide tooltip anchor.
  position: relative;
}

.Label--s {
  padding: 0.3125rem @size_s;
  font-size: 0.875rem;
}

.Label--l {
  padding: @size_xs 1.25rem;
  .text--medium();
}

.Label--default {
  .colorize(@neutral_silver);
}

.Label--new-feature {
  .colorize(@accent_teal_tint_2);
}

.Label--success {
  .colorize(@alert_green_tint_2);
}

.Label--warning {
  .colorize(@alert_orange_tint_2);
}

.Label--error {
  .colorize(@alert_red_tint_2);
}

.Label--category-1 {
  .colorize(@accent_purple_tint_2);
}

.Label--category-2 {
  .colorize(@accent_pink_tint_2);
}

.Label--tag {
  .colorize(@neutral_white);
  .border--s(@neutral_gray);
}

.colorize(@color) {
  &:not(.Label--withTooltip) {
    .highlight(@color);
  }

  &.Label--withTooltip {
    .highlight(@color, true);
  }
}

/**
 * Fade all colors 50%.
 * Remove fade on focus/hover for labels with tooltips.
 * @param {Color} @color
 * @param {boolean} @darkenOnHover
 */
.highlight(@color, @darkenOnHover: false) {
  background-color: fade(@color, 50%);
}

.highlight(@color, @darkenOnHover) when (@darkenOnHover = true) {
  &:focus,
  &:hover {
    background-color: @color;
  }
}

/**
 * Handle 'default' differently because gray/silver
 * doesn't need a fade on base color.
 * Shade on focus/hover for labels with tooltips
 * to provide contrast.
*/

.highlight(@color, @darkenOnHover: false) when (@color = @neutral_silver) {
  background-color: @color;
}

.highlight(@color, @darkenOnHover) when (@darkenOnHover = true) and (@color = @neutral_silver) {
  &:focus,
  &:hover {
    background-color: shade(@color, 25%);
  }
}
