@import (reference) "../less/index";

@label_lightblue: #daebff;

.Label {
  .text--center();
  .text--line-height-1();
  .text--semi-bold();
  .text--nowrap();
  // radius needs to be anything >= 50% the total label height for rounded corners
  border-radius: @size_l;
  color: @neutral_black;
  cursor: default;
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, font-size 0.25s ease-out,
    padding 0.25s ease-out;

  &:active,
  &:focus {
    outline: 0;
  }
}

.Label--withTooltip {
  cursor: help;
  // Relative positioning needed to provide tooltip anchor.
  position: relative;

  &:focus,
  &:active {
    .border--s(@neutral_dark_gray);
  }
}

.Label--s {
  padding: 0.3125rem @size_s;
  font-size: 0.875rem;
}

.Label--l {
  padding: @size_xs 1.25rem;
  .text--medium();
}

.Label--default {
  background-color: @neutral_silver;
}

.Label--new-feature {
  background-color: @label_purple;
}

.Label--success {
  background-color: @label_green;
}

.Label--warning {
  background-color: @label_yellow;
}

.Label--error {
  background-color: @label_red;
}

.Label--category-2 {
  background-color: @label_pink;
}

.Label--tag {
  background-color: @neutral_white;
  .border--s(@neutral_gray);
}

.Label--info {
  background-color: @label_lightblue;
}
