@import (reference) "../less/index";

.MessagingBubble--Message--Own {
  background-color: @neutral_dark_gray;
  border-radius: 0.3125rem;
  color: @neutral_white;
  font-size: 1rem;
  max-width: 25rem;
  overflow-wrap: break-word;
  .padding--xs();
  .text--line-height-4();
  white-space: pre-wrap;
}

.MessagingBubble--Message--Other {
  background-color: #f3f5fd; /* stylelint-disable-line */
  border-radius: 0.3125rem;
  color: @neutral_black;
  font-size: 1rem;
  max-width: 25rem;
  overflow-wrap: break-word;
  .padding--xs();
  .text--line-height-4();
  white-space: pre-wrap;
}

.MessagingBubble--Link,
.MessagingBubble--Link:focus,
.MessagingBubble--Link:hover {
  // We inherit color from the parent to have the link color match the bubble text color
  /* stylelint-disable-next-line declaration-property-value-whitelist */
  color: inherit;
  .text--semi-bold();
  .text--underline();
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .MessagingBubble--Message--Own,
  .MessagingBubble--Message--Other {
    font-size: 0.875rem;
    line-height: 1rem;
    .padding--xs();
    // This improves how long words/links are broken on Chrome mobile and doesn't affect Safari
    overflow-wrap: anywhere;
  }
}
