@import (reference) "../less/index";

// shared styling across bubble variations
.MessagingBubble--Message {
  border-radius: 0.3125rem;
  font-size: 1rem;
  max-width: 32.5rem;
  min-width: 0; // needed to support truncated children text
  .text--line-height-4();
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word; // IE name for overflow-wrap
}

.MessagingBubble--Message--Container--Own {
  max-width: 100%;
  .items--end();
}

.MessagingBubble--Message--Container--Other {
  max-width: 100%;
  .items--start();
}

// Are these changes only for mobile?
.MessagingBubble--Message--Container--Own.MessagingBubble--FamilyPortal {
  .MessagingBubble--Message--Own {
    // TODO: make this a const?
    background-color: #fdea8e;
    border-radius: 1rem;
    color: @family_portal_mobile_slate;
    // TODO: is this needed? is there a mixin for this?
    font-weight: 400;
    .padding--x--m();
    .padding--y--xs();
  }

  .MessagingBubble--Message--Timestamp--Own {
    margin-right: @size_m;
  }

// }

.MessagingBubble--Message--Container--Other.MessagingBubble--FamilyPortal {
  .MessagingBubble--Message--Other {
    background-color: @family_portal_mobile_slate;
    border-radius: 1rem;
    color: @neutral_white;
    // TODO: is this needed? is there a mixin for this?
    font-weight: 400;
    .padding--x--m();
    .padding--y--xs();
  }
}

.MessagingBubble--Message--Own {
  background-color: @neutral_dark_gray;
  color: @neutral_white;
  .padding--xs();
}

.MessagingBubble--Message--Other {
  background-color: #f3f5fd; /* stylelint-disable-line */
  border-radius: 0.3125rem;
  color: @neutral_black;
  .padding--xs();
}

.MessagingBubble--Message--Reply--Parent {
  .padding--m();
}

.MessagingBubble--Message--Reply--Own {
  background-color: #626776; /* stylelint-disable-line */
  border-radius: 0.3125rem;
  color: @neutral_white;
}

.MessagingBubble--Message--Reply--Other {
  background-color: #fafbfe; /* stylelint-disable-line */
  border-radius: 0.3125rem;
  color: @neutral_black;
}

.MessagingBubble--Message--Reply--MarginBottom {
  .margin--bottom--s();
}

.MessagingBubble--Message--Attachment--Own {
  .flex--direction--column();
  .items--end();
}

.MessagingBubble--Message--Attachment--Other {
  .flex--direction--column();
  .items--start();
}

.MessagingBubble--Message--TimestampBubbleContainer--Own {
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.MessagingBubble--Message--TimestampBubbleContainer--Other {
  flex-direction: row-reverse;
  align-items: center;
  max-width: 100%;
}

.MessagingBubble--Message--Timestamp--Own {
  color: @neutral_medium_gray;
  font-size: 0.875rem;
  .margin--right--xs();
  .text--line-height-1();
  white-space: nowrap;
  flex-shrink: 0;
  min-width: 3.5rem;
}

.MessagingBubble--Message--Timestamp--Other {
  color: @neutral_medium_gray;
  font-size: 0.875rem;
  .margin--left--xs();
  .text--line-height-1();
  white-space: nowrap;
  flex-shrink: 0;
  min-width: 3.5rem;
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .MessagingBubble--Message {
    font-size: 0.875rem;
    line-height: 1rem;
    // This improves how long words/links are broken on Chrome mobile and doesn't affect Safari
    overflow-wrap: anywhere;
  }

  .MessagingBubble--Message--Reply--Parent {
    .padding--xs();
  }

  .MessagingBubble--Message--Reply--MarginBottom {
    .margin--bottom--xs();
  }

  .MessagingBubble--Message--Attachment--Own {
    width: auto;
    .text--truncate();
  }

  .MessagingBubble--Message--Attachment--Other {
    width: auto;
    .text--truncate();
  }
}
