@import (reference) "../less/index";

@ERROR_RED: #df3537;

// shared styling across bubble variations
.NormalMessagingBubble--Message {
  border-radius: 0.3125rem;
  font-size: 1rem;
  max-width: 32.5rem;
  min-width: 0; // needed to support truncated children text
  .text--line-height-4();
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word; // IE name for overflow-wrap
}

.NormalMessagingBubble--Message--Container--Own {
  max-width: 100%;
  .items--end();
}

.NormalMessagingBubble--Message--Container--Other {
  max-width: 100%;
  .items--start();
}

.NormalMessagingBubble--Message--Other {
  background-color: #f3f5fd; /* stylelint-disable-line */
  border-radius: 0.3125rem;
  color: @neutral_black;
  .padding--xs();
}

.NormalMessagingBubble--Message--Container--Other.NormalMessagingBubble--FamilyPortal {
  .NormalMessagingBubble--Message--Other {
    background-color: @family_portal_slate;
    border-radius: 1rem;
    color: @neutral_white;
    font-weight: 400;
    .padding--x--m();
    .padding--y--xs();
  }
}

.NormalMessagingBubble--Message--Own {
  background-color: @neutral_dark_gray;
  color: @neutral_white;
  .padding--xs();
}

.NormalMessagingBubble--Message--Reply--Parent {
  .padding--m();
}

.NormalMessagingBubble--Message--Reply--Own {
  background-color: #626776; /* stylelint-disable-line */
  border-radius: 0.3125rem;
  color: @neutral_white;
}

.NormalMessagingBubble--Message--Reply--Other {
  background-color: #fafbfe; /* stylelint-disable-line */
  border-radius: 0.3125rem;
  color: @neutral_black;
}

.NormalMessagingBubble--Message--Reply--MarginBottom {
  .margin--bottom--s();
}

.NormalMessagingBubble--Message--Attachment--Own {
  .flex--direction--column();
  .items--end();
}

.NormalMessagingBubble--Message--Attachment--Other {
  .flex--direction--column();
  .items--start();
}

.NormalMessagingBubble--Message--Metadata--Own {
  .margin--right--xs();
}

.NormalMessagingBubble--Message--Metadata--Other {
  .margin--left--xs();
}

Button.NormalMessagingBubble--Message--ActionButton--Own {
  &:hover,
  &:focus,
  &:active {
    .NormalMessagingBubble--Message--Timestamp {
      display: none;
    }
    .NormalMessagingBubble--Message--Delete {
      display: unset;
    }
  }
}

Button.NormalMessagingBubble--Message--ActionButton--Other {
  &:hover,
  &:focus,
  &:active {
    .NormalMessagingBubble--Message--Timestamp {
      display: none;
    }
    .NormalMessagingBubble--Message--Delete {
      display: unset;
    }
  }
}

.NormalMessagingBubble--Message--Delete {
  display: none;
  color: @ERROR_RED;
  .text--semi-bold();
  line-height: @size_l;
}

.NormalMessagingBubble--Message--TimestampBubbleContainer--Own {
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.NormalMessagingBubble--Message--TimestampBubbleContainer--Other {
  flex-direction: row-reverse;
  align-items: center;
  max-width: 100%;
}

.NormalMessagingBubble--Message--Timestamp {
  color: @neutral_medium_gray;
  font-size: 0.875rem;
  font-weight: normal;
  .text--line-height-1();
  white-space: nowrap;
  flex-shrink: 0;
  min-width: 3.5rem;
}

// Family Portal styling
.NormalMessagingBubble--Message--Container--Own.NormalMessagingBubble--FamilyPortal {
  .NormalMessagingBubble--Message--Own {
    background-color: @family_portal_own_message;
    border-radius: 1rem;
    color: @family_portal_slate;
    font-weight: 400;
    .padding--x--m();
    .padding--y--xs();
  }

  .NormalMessagingBubble--Message--Timestamp--Own {
    margin-right: @size_m;
  }

  .NormalMessagingBubble--Message--Reply--Own {
    background-color: transparent;
    max-width: 33.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    &.NormalMessagingBubble--Message--Reply--MarginBottom {
      .margin--bottom--xs();
    }

    .DeletedAnnouncementBubble--container {
      max-width: 33.5rem;
    }
  }
}

// For mobile/tablet
@media only screen and (max-width: @breakpointM) {
  .NormalMessagingBubble--Message {
    font-size: 0.875rem;
    line-height: 1rem;
    // This improves how long words/links are broken on Chrome mobile and doesn't affect Safari
    overflow-wrap: anywhere;
  }

  .NormalMessagingBubble--Message--Reply--Parent {
    .padding--xs();
  }

  .NormalMessagingBubble--Message--Reply--MarginBottom {
    .margin--bottom--xs();
  }

  .NormalMessagingBubble--Message--Attachment--Own {
    width: auto;
    .text--truncate();
  }

  .NormalMessagingBubble--Message--Attachment--Other {
    width: auto;
    .text--truncate();
  }
}
