@import (reference) "../less/utilities";

.ExpandableContainer--container {
  background-color: @neutral_white;
  color: @neutral_dark_gray;
  width: 100%;
}

.ExpandableContainer--expandIcon {
  .padding--xs();
}

.ExpandableContainer--content {
  .padding--left--l();
  .padding--right--2xs();
}

button.ExpandableContainer--header {
  color: @neutral_dark_gray;
  .padding--left--l();
  .padding--right--2xs();
  .padding--y--xs();
  cursor: pointer;

  &:focus,
  &:hover {
    color: @neutral_dark_gray;
    background: @neutral_off_white;
  }
}
