@import (reference) "../less/utilities";
@import (reference) "../Table/Cell";

.List--Item {
  // Match the Table component's cell styling.
  .Table--cell();
  border-color: @neutral_silver;
  list-style: none;
  transition: all @timingPromptly ease-out;
}

.List--Item--Clickable {
  padding: 0;

  &:hover {
    background-color: @neutral_off_white;
  }
}

.List--Item--ClickableItem {
  .button--reset;

  // Match the Table component's cell styling.
  .Table--cell();
}

.List--empty {
  color: @neutral_gray;
}
