@import (reference) "../less/index";

.Avatar--Image {
  .flexbox();
  height: @size_xl;
  width: @size_xl;
  border-radius: 50%;
}

.Avatar--Circle {
  height: @size_xl;
  width: @size_xl;
  border-radius: 50%;
  .flexbox();
  .items--center();
  .justify--center();
}

.Avatar--Text {
  .text--small();
  .text--semi-bold();
  color: @neutral_dark_gray;
}
