@import (reference) "../less/index";

.DeletedAnnouncementBubble--container {
  .border--m(@neutral_silver);
  max-width: 33rem;
  border-radius: 0.3125rem; // 5px
  color: @neutral_medium_gray;
}

.MessagingBubble--FamilyPortal {
  .DeletedAnnouncementBubble--container {
    background-color: @family_portal_quoted_announcement;
    color: @family_portal_slate;
    border: unset;
  }

  .DeletedAnnouncementBubble--text {
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0.75rem 21px 0.75rem 0;
  }

  .DeletedAnnouncementBubble--icon {
    margin: 0.5rem;
  }
}

.DeletedAnnouncementBubble--icon {
  margin: 1.125rem 1rem 1.375rem;
  .text--large();
}

.DeletedAnnouncementBubble--text {
  margin: 1rem 1rem 1rem 0;
  .text--line-height-4();
  .text--medium();
}

@media only screen and (max-width: @breakpointM) {
  .DeletedAnnouncementBubble--icon {
    margin: 0.625rem 0.5rem 0.875rem 0.75rem;
    .text--large();
  }

  .DeletedAnnouncementBubble--text {
    margin: 0.75rem 0.75rem 0.75rem 0;
    .text--line-height-4();
    .text--medium();
  }
}
