@import (reference) "../less/index";

.DeletedAnnouncementBubble--container {
  .border--m(@neutral_silver);
  max-width: 33rem;
  border-radius: 0.3125rem; // 5px
  color: @neutral_medium_gray;
}

.DeletedAnnouncementBubble--icon {
  margin: 1.25rem @size_s 1.25rem 1.25rem;
  .text--large();
}

.DeletedAnnouncementBubble--text {
  margin: @size_m @size_m @size_m @size_none;
  .text--line-height-4();
  .text--medium();
}

// Family Portal styling
.NormalMessagingBubble--FamilyPortal {
  .DeletedAnnouncementBubble--container {
    background-color: @family_portal_quoted_announcement;
    color: @family_portal_slate;
    border: 0;
  }

  .DeletedAnnouncementBubble--text {
    .text--smallMedium();
    line-height: @size_m;
    margin: @size_s 1.3125rem @size_s @size_none;
  }

  .DeletedAnnouncementBubble--icon {
    margin: @size_xs;
  }
}

@media only screen and (max-width: @breakpointM) {
  .DeletedAnnouncementBubble--icon {
    margin: @size_s @size_xs @size_s @size_s;
    .text--large();
  }

  .DeletedAnnouncementBubble--text {
    margin: @size_s @size_s @size_s @size_none;
    .text--line-height-4();
    .text--medium();
  }
}
