@import (reference) "../less/index";

.QuotedAnnouncementBubble--container {
  border-radius: 0.3125rem; // 5px
  line-height: 1rem;
  .padding--xs();
  .text--smallMedium();
}

// These styles only apply to Announcement replies sent by the current user, in the Family Portal,
// i.e. guardians replying to teacher announcements
.MessagingBubble--Message--Reply--Own
  .QuotedAnnouncementBubble--container.QuotedAnnouncementBubble--familyPortal {
  background-color: #fef7d2; /* stylelint-disable-line */
  border-radius: @size_s;
  color: @family_portal_mobile_slate;

  .QuotedAnnouncementBubble--messageBody {
    font-size: @size_m;
  }

  .QuotedAnnouncementBubble--messageDetails--light,
  .QuotedAnnouncementBubble--messageDetails--dark,
  .QuotedAnnouncementBubble--messageDetails--white,
  .QuotedAnnouncementBubble--messageDetails--undefined {
    color: @neutral_medium_gray;
    margin-bottom: @size_xs;
  }

  .QuotedAnnouncementBubble--button--outer {
    color: @family_portal_mobile_slate;
    font-size: @size_m;
  }
}

.QuotedAnnouncementBubble--container--light {
  background-color: #fafbfe; /* stylelint-disable-line */
  color: @neutral_dark_gray;
}

.QuotedAnnouncementBubble--container--white {
  background-color: @neutral_white;
  color: @neutral_dark_gray;
}

.QuotedAnnouncementBubble--container--white,
.QuotedAnnouncementBubble--container--light {
  // Default setting is to inherit color; for the lighter bubbles make the links blue
  .LinkifyUtils--Link,
  .LinkifyUtils--Link:focus,
  .LinkifyUtils--Link:hover {
    color: @primary_blue_shade_2;
  }
}

.QuotedAnnouncementBubble--container--dark {
  background-color: #626776; /* stylelint-disable-line */
  color: @neutral_white;
}

.QuotedAnnouncementBubble--senderIcon {
  .margin--right--xs();

  .Avatar--Circle,
  .Avatar--Image {
    height: 1.5rem;
    width: 1.5rem;
  }

  .Avatar--Text {
    font-size: 0.625rem; // 10px
  }
}

.QuotedAnnouncementBubble--senderName {
  .text--semi-bold();
}

.QuotedAnnouncementBubble--messageBody {
  .margin--y--xs();
  // Handle whitespace characters
  white-space: pre-wrap;
  word-wrap: break-word; // IE version
  word-break: normal;
  overflow-wrap: anywhere;
}

.QuotedAnnouncementBubble--messageBody--truncated {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.QuotedAnnouncementBubble--messageBody--ellipsis {
  text-overflow: ellipsis;
}

.QuotedAnnouncementBubble--messageTruncatedNotice {
  .text--semi-bold();
  .margin--bottom--xs();
}

.QuotedAnnouncementBubble--messageTruncatedNotice--icon {
  margin-left: 0.3125rem;
}

.QuotedAnnouncementBubble--inlineError--light,
.QuotedAnnouncementBubble--inlineError--white {
  color: @alert_red;
  line-height: 1rem;
  .text--smallMedium();
  .margin--bottom--xs();
}

.QuotedAnnouncementBubble--inlineError--dark {
  color: @neutral_white;
  line-height: 1rem;
  .text--smallMedium();
  .margin--bottom--xs();
}

.QuotedAnnouncementBubble--inlineError--contents {
  .padding--top--2xs();
  justify-content: flex-start;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word; // IE version
  word-break: normal;
  overflow-wrap: anywhere;
}

.QuotedAnnouncementBubble--inlineError--icon {
  .margin--right--2xs();
}

.QuotedAnnouncementBubble--attachmentContainer {
  max-width: 100%;
  .margin--bottom--xs();
}

.QuotedAnnouncementBubble--attachmentContainer--marginTop {
  .margin--top--xs();
}

.MessagingBubble--Message
  .QuotedAnnouncementBubble--attachmentContainer
  .MessagingAttachment--Container {
  width: 14rem;
  padding: @size_s;
  .text--truncate();
}

.QuotedAnnouncementBubble--attachmentContainer .MessagingAttachment--Title {
  .text--smallMedium();
}

// the below styles disable the MessagingAttachment's normal hover styles
// for all of our usecases.
.QuotedAnnouncementBubble--attachmentContainer--dark .MessagingAttachment--Container:hover {
  background-color: #626776; /* stylelint-disable-line */
  border-color: @neutral_silver;
}

.QuotedAnnouncementBubble--attachmentContainer--dark
  .MessagingAttachment--Container:hover
  .MessagingAttachment--Title,
.QuotedAnnouncementBubble--attachmentContainer--dark .MessagingAttachment--TextContainer {
  color: @neutral_white;
}

.QuotedAnnouncementBubble--attachmentContainer--dark img.MessagingAttachment--AttachmentTypeIcon {
  filter: brightness(0) invert(1); /* makes the file icon white without needing a different <img> src attr */
}

.QuotedAnnouncementBubble--messageDetails--light,
.QuotedAnnouncementBubble--messageDetails--white {
  color: @neutral_medium_gray;
  .margin--bottom--xs();
}

.QuotedAnnouncementBubble--messageDetails--dark {
  color: @neutral_silver;
  .margin--bottom--xs();
}

.Button.QuotedAnnouncementBubble--button--outer {
  transition: none;

  // The following along with the {tab-index=-1} on the inner span allows for the button
  // to have a border when keyboard focused, but not when clicked
  &:focus {
    outline: none;
  }

  .QuotedAnnouncementBubble--button--inner {
    outline: none;
  }

  &:focus > .QuotedAnnouncementBubble--button--inner.QuotedAnnouncementBubble--button--light,
  &:focus > .QuotedAnnouncementBubble--button--inner.QuotedAnnouncementBubble--button--white {
    outline: 0.1875rem solid @primary_blue_shade_2;
  }

  &:focus > .QuotedAnnouncementBubble--button--inner.QuotedAnnouncementBubble--button--dark {
    outline: 0.1875rem solid @neutral_white;
  }
}

.QuotedAnnouncementBubble--button--light,
.QuotedAnnouncementBubble--button--white {
  color: @primary_blue_shade_2;
  .text--underline();

  &:hover,
  &:active {
    color: @primary_blue_shade_3;
  }
}

.QuotedAnnouncementBubble--button--dark {
  color: @neutral_white;
  .text--underline();
}

@media only screen and (max-width: @breakpointM) {
  .QuotedAnnouncementBubble--messageBody {
    .margin--y--xs();
  }

  .QuotedAnnouncementBubble--attachmentContainer,
  .QuotedAnnouncementBubble--attachmentContainer > .MessagingAttachment--ParentContainer,
  .MessagingBubble--Message
    .QuotedAnnouncementBubble--attachmentContainer
    .MessagingAttachment--Container {
    width: 100%;
    margin-right: 0;
    .text--truncate();
  }
}
