@import (reference) "../less/index";

.UnavailableAnnouncementBubble--container {
  .padding--y--m();
  max-width: 33rem;
  min-width: 12rem;
  box-sizing: border-box;
  .border--s(@neutral_silver);
  border-radius: 0.25rem; // 4px
}

img.UnavailableAnnouncementBubble--icon {
  width: 2rem;
  .margin--x--m();
}

.UnavailableAnnouncementBubble--textContainer {
  .margin--right--m();
}

.UnavailableAnnouncementBubble--header {
  .text--mediumLarge();
  line-height: @size_m;
  .margin--bottom--2xs();
  .text--semi-bold();
}

.UnavailableAnnouncementBubble--text {
  .text--smallMedium();
  line-height: @size_m;
}

// Light color-theme
.UnavailableAnnouncementBubble--container--light {
  background-color: #f9fafe; /* stylelint-disable-line */
  border-color: @neutral_silver;
}

.UnavailableAnnouncementBubble--header--light {
  color: @neutral_dark_gray;
}

.UnavailableAnnouncementBubble--text--light {
  color: @neutral_dark_gray;
}

// Dark color-theme
.UnavailableAnnouncementBubble--container--dark {
  background-color: @neutral_dark_gray;
  border-color: @neutral_white;
}

.UnavailableAnnouncementBubble--header--dark {
  color: @neutral_white;
}

.UnavailableAnnouncementBubble--text--dark {
  color: @neutral_white;
}

// White color-theme
.UnavailableAnnouncementBubble--container--white {
  background-color: @neutral_white; /* stylelint-disable-line */
  border-color: @neutral_white;
  border-radius: 1rem; // 16px
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.UnavailableAnnouncementBubble--header--white {
  color: @neutral_dark_gray;
}

.UnavailableAnnouncementBubble--text--white {
  color: @neutral_dark_gray;
}
